<div id="footer-bottom" class="container-fluid py-5 no-marr build-border-blue">
  <div class="container v-pad">
  <div class="row no-padd no-marr build-border-red">
    <div class="col-12 col-md-3 no-padd no-marr text-center text-md-left build-border-blue">
      <img src="/imgz/logo-vivayic-white.svg" class="p-4 p-sm-0">
    </div>
    <div class="col-12 col-md-9 build-border-blue">
      <div class="row bottom-links">
        <div class="col-12 offset-md-3 col-md-3 build-border-red">
          <p><a href="{{ siteUrl }}solutions">Solutions</a></p>
          <p><a href="{{ siteUrl }}industries">Industries</a></p>
          <p><a href="{{ siteUrl }}positive-impact">Positive Impact</a></p>
          <p><a href="{{ siteUrl }}process">Process</a></p>
          <p><a href="{{ siteUrl }}purpose">Purpose</a></p>
        </div><!-- /col -->
        <div class="col-12 col-md-3 build-border-red">
          <p><a href="{{ siteUrl }}insights">Insights</a></p>
          <p><a href="{{ siteUrl }}free-resources">Free Resources</a></p>
          <p><a href="{{ siteUrl }}about">About</a></p>
        </div><!-- /col -->
        <div class="col-12 col-md-3 build-border-red">
          <p><a href="{{ siteUrl }}contact">Contact</a></p>
          <p><a href="{{ siteUrl }}search">Search</a></p>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /col -->
  </div><!-- /row -->
  <div class="row no-padd no-marr py-5 py-md-0 build-border-red">
    <div class="col-12 bottom-links">
      <a href="https://twitter.com/vivayic"><img src="{{ siteUrl }}imgz/icon-twitter.svg" class="social-icon"></a>
      <a href="https://www.facebook.com/Vivayic-Inc-753530247997639/"><img src="{{ siteUrl }}imgz/icon-facebook.svg" class="social-icon"></a>
      <a href="https://www.linkedin.com/company/vivayic/"><img src="{{ siteUrl }}imgz/icon-linkedin.svg" class="social-icon"></a>
    </div>
    <div class="col-12 bottom-links mt10">
      <p class="small"><a href="{{ siteUrl }}privacy">privacy policy</a> | <a href="{{ siteUrl }}legal">legal</a></p>
    </div>
  </div>
</div><!-- /container -->
</div><!-- /footer-bottom-global -->

</div><!-- /scroll-magi -->
