<div id="super-footer-form-quote" class="container-fluid no-padd no-marr build-border-blue">
  <div class="row h-100 no-padd no-marr build-border-red">
    <div class="col-12 col-md-6 order-6 order-md-1 bg-light-blue d-flex justify-content-center justify-content-sm-center justify-content-md-end build-border-green">

      <div class="footer_contact_form build-border-red">
            <h3>Let&rsquo;s Talk</h3>
            <p>Great coversations start here.</p>
            <form action="#" method="post" id="contactFrm" name="contactFrm">
                <input type="text" required="" placeholder="Name" value="" name="name" class="txt">
                <input type="text" required="" placeholder="Email" value="" name="email" class="txt">
                <input type="text" required="" placeholder="Phone" value="" name="mob" class="txt">

            	 <textarea placeholder="How can we help you?" name="mess" type="text" class="txt_3"></textarea>

                 <select class="select_1" id="subject" name="subject">
                     <option selected value="na">
                         What line of work are you in?
                     </option>

                     <option value=""> Agriculture, Food and Natural Resources </option>
                     <option value=""> Health and Wellness </option>
                     <option value=""> Technology and Innovation </option>
                     <option value=""> Education and Workforce </option>
                     <option value=""> International Development </option>
                     <option value=""> Social Impact and Community Development </option>

                  </select>
                  <input class="w3-check" type="checkbox"><label>Join our mailing list :-)</label>
                  <br>
                  <input type="submit" value="submit" name="submit" class="btn button-arrow-blue txt_5">
            </form>
      </div>

    </div>
    <div class="sf-quote col-12 col-md-6 order-6 order-md-1 bg-blue py-5 py-md-0 d-flex justify-content-center justify-content-sm-center justify-content-md-start build-border-green">
      <!-- <div class="foot-feature-text align-self-center text-center build-border-red"> -->
      <div class="foot-feature-text align-self-center build-border-red">
      <h3 class="mb10">
      “Vivayic shines in deeply understanding the need, aligning it with the business / organizational goals, and designing a solution that is&nbsp;practical”
      </h3>
      <p>– David Sarnoff<br>
        Industrialist Corp</p>

        <div class="mtb60"></div>

        <p><a href="mailto:info@vivayic.com"><img src="/imgz/icon-mail-circle.svg"></a> &nbsp;&nbsp;<a href="mailto:info@vivayic.com">info@vivayic.com</a></p>
        <p><a href="tel:800-280-7272"><img src="/imgz/icon-phone-circle.svg"></a> &nbsp;&nbsp;<a href="tel:800-280-7272">(800) 280-7272</a></p>
      </div>

    </div><!-- /sf-quote -->
  </div><!-- /row -->
</div><!-- /super-footer-form-quote -->
