.btn {
  border-radius:0;
  padding: 10px 80px 10px 20px;
  .f-weight-reg;
  font-family: @o;
  text-decoration: none;
}
.btn:focus {outline: 0;}

.button-arrow-grey {
  border: 1px solid #CECECE;
  .charcoal;
  background: #fff url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% -105%;
}
.button-arrow-grey:hover {
  .white;
  background: #5A89B4 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% 195%;
}

.button-arrow-blue {
  border: 1px solid @white;
  .white;
  background: #5A89B4 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% 195%;
}
.button-arrow-blue:hover {
  border: 1px solid @charcoal;
  .charcoal;
  background: #E3F2F1 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% -105%;
}

.button-nav-arrow-grey {
  border: 1px solid #CECECE;
  .charcoal;
  background: #fff url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 200px 22px;
  height: 60px;
  width: 230px;
  padding:0;
  text-align: left!important;
  padding-top: 15px;
  padding-left: 20px;
  @media @small {.mt10;}
}
.button-nav-arrow-grey:hover {
  .white;
  background: #5A89B4 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 200px -26px;
}

.button-nav-arrow-lt-blue {
  border: 1px solid #CECECE;
  .charcoal;
  background: #DEE7F0 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 200px 22px;
  height: 60px;
  width: 230px;
  padding:0;
  text-align: left!important;
  padding-top: 15px;
  padding-left: 20px;
  @media @small {.mt10;}
}
.button-nav-arrow-lt-blue:hover {
  .white;
  background: #DEE7F0 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 200px -26px;
}


.button-results-arrow-grey {
  border: 1px solid #CECECE;
  .charcoal;
  .f-size-extra-small;
  background: #fff url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 250px 37px;
  @media @medium { background: #fff url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 170px 37px;}
  height: 86px;
  width: 300px;
  @media @medium {width: 200px;}
  @media @small {width: 300px;}
  @media @extra-small {width: 280px;}
  padding:0;
  text-align: left!important;
  padding-top: 18px;
  padding-left: 20px;
  .mb40;
  @media @small, @extra-small {.mb10;}
  .results-but-copy {display: block; .f-size-small; .f-weight-sembold;}
}
.button-results-arrow-grey:hover {
  .white;
  background: #5A89B4 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 250px -11px;
  @media @medium { background: #5A89B4 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 170px -11px;}
}

#super-footer-get-results {
  .award-button {
    height:212px;
    @media @small {height:260px; width: 300px;}
    @media @medium {height:212px; width: 200px;}
    @media @small {height:260px; width: 300px;}
    @media @extra-small {height:260px; width: 280px;}
    padding: 0 70px;
    @media @medium {padding: 0 20px;}
    margin: 0 auto;
    border: 1px solid #CECECE;
    .bg-white;
    p, a {.charcoal; .f-size-small-16; .f-weight-light; text-decoration: none;}
    img {.mb10;}
  }
  .award-button:hover {
    .bg-blue;
    p, a {.white; text-decoration: none; .f-size-small-16; .f-weight-light;}
  }
}
