.btn {
  border-radius:0;
  padding: 10px 80px 10px 20px;
  .f-weight-reg;
  font-family: @o;
  text-decoration: none;
}
.btn:focus {outline: 0;}

.button-arrow-grey {
  border: 1px solid #CECECE;
  .charcoal;
  background: #fff url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% -105%;
}
.button-arrow-grey:hover {
  .white;
  background: #5A89B4 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% 195%;
}

.button-arrow-blue {
  border: 1px solid #CECECE;
  .white;
  background: #5A89B4 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% -105%;
}
.button-arrow-blue:hover {
  .white;
  background: #DEE7F0 url('../imgz/icon-arrow-grey-rollover-sm.png') no-repeat 90% 195%;
}
