@white:		       	#FFF;
@black:		        #000;
@warm-black:      #1A1A1A;
@gray:            #9B9B9B;
@grey:            #9B9B9B;
@light-grey:      #e2e2e2;
@charcoal:        #5B6770;
@blue:            #5A89B4;
@light-blue:      #DEE7F0;
@green:           #19988B;
@light-green:     #E3F2F1;
@red:             #D6282D;
@amber:           #CD8A29;
@purple:          #7C7DAA;

.white {color:@white;}
.black {color:@black;}
.warm-black {color:@warm-black;}
.gray {color:@gray;}
.grey {color:@gray;}
.light-grey {color:@light-grey;}
.charcoal {color:@charcoal;}
.blue {color:@blue;}
.light-blue {color:@light-blue;}
.green {color:@green;}
.light-green {color:@light-green;}
.red {color:@red;}
.amber {color:@amber;}
.purple {color:@purple;}

.bg-white {background-color: @white;}
.bg-black {background-color: @black;}
.bg-warm-black {background-color: @warm-black;}
.bg-gray {background-color: @gray;}
.bg-grey {background-color: @gray;}
.bg-light-grey {background-color: @light-grey;}
.bg-charcoal {background-color: @charcoal;}
.bg-blue {background-color: @blue;}
.bg-red {background-color: @red;}
.bg-light-blue {background-color: @light-blue;}
.bg-green {background-color: @green;}
.bg-light-green {background-color: @light-green;}
.bg-amber {background-color: @amber;}
.bg-purple {background-color: @purple;}
.bg-nav {background-color: rgba(255, 255, 255, 0.8); border-bottom: solid 1px grey;}


.links-white-hover {
  a { &:hover {color: @white;} &:focus {color:@white;}}
}

.dropshadow {
  -webkit-box-shadow: 2px 2px 2px 1px #aaa;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 2px 1px #aaa;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 2px 1px #aaa;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.black-text-shadow {
  text-shadow: 1px 1px 0px @black;
}

.no-text-shadow {text-shadow: none;}

::selection {
  .bg-light-blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  .bg-light-blue; /* Gecko Browsers */
}

.outline-15 {outline: solid white 15px;
  @media @medium, @small, @extra-small {outline: 0;}
}
