/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(91,103,112,0.9);
	overflow:auto;
	z-index:1040;
}

.nav-close {
	margin-left: 20px;
	margin-right: 10px;
}

.overlay-brand {
	position: relative;
  top: 12px;
}

.overlay-nav {position: relative;
  top: 20px;
}

.top-links {
	p {
		.light-blue;
		@media @medium, @large, @extra-large {&:first-child {margin-top: 0;}}
		.mt10;
		@media @small {.mt20;}
		.f-size-small-16;
		@media @small {.f-size-small;}
	}
	a {
		display: inline-block;
		@media @small {display: block;}
		.white;
		.f-weight-reg;
		.mrl10;
		text-decoration: none;
	}
	a:hover {.light-blue; text-decoration: underline;}
	.small { a {.f-size-extra-small; .f-weight-light;}}
}
