.top-nav {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px rgba(233, 233, 233, 0.6);
    box-shadow: 1px 1px 5px rgba(233, 233, 233, 0.8);
    min-height: 93px;
  }

.body-min-width {min-width: 290px; overflow: scroll; }
.row {min-width: 290px!important;}

.nav-link {border: solid red 1px; height: 40px; display: inline-block;}
.nav-open {margin-right: 2%;}

#global-boog {
  background: url('../imgz/home-global-boog-xl.jpg') no-repeat center center;
   @media @extra-large { background: url('../imgz/home-global-boog-xl.jpg') no-repeat center center; .useful-bg; height: 702px;}
   @media @large { background: url('../imgz/home-global-boog-xl.jpg') no-repeat center center; .useful-bg; height: 540px;}
   @media @medium {background: url('../imgz/home-global-boog-md.jpg') no-repeat center center; .useful-bg; height: 510px;}
   @media @small {background: url('../imgz/home-global-boog-sm.jpg') no-repeat center center; .useful-bg; height: 500px;}
   @media @extra-small {background: url('../imgz/home-global-boog-sm.jpg') no-repeat center center; .useful-bg; height: 500px;}
}

.home-features {
  h2 {
      @media @large {.f-size-large; .l-height-large;}
      @media @medium {.f-size-medium; .l-height-medium;}
      @media @small {.f-size-small; .l-height-small;}
      margin-bottom: 2%;
  }
  p {.f-size-small-16;}
}
