.top-nav {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: solid 1px rgba(233, 233, 233, 0.6);
    box-shadow: 1px 1px 5px rgba(233, 233, 233, 0.8);
    min-height: 93px;
  }

.body-min-width {min-width: 290px; overflow: scroll; }
.row {min-width: 290px!important;}


.logo-overlay {width:199px; position: relative; top: 4px;}
@media @small, @extra-small {.logo-overlay {top: 10px;}}

a.nav-link {
  height: 40px;
  display: inline-block;
  text-decoration: none;
  .charcoal;
  .f-size-small;
  padding: .5rem 1.5rem;
  }
a.nav-link:hover {.red;}
.nav-open {margin-right: 2%;}

.date {
  display: inline-block;
  p {.f-size-extra-small; .mr10;}
}
.category {
  display: inline-block;
  p {.f-size-extra-small; .pl10;}
}
.read-time {
    display: inline-block;
    background: url('../imgz/icon-star.png') no-repeat left 2px;
    p {.f-size-extra-small; .pl20;}
  }
.excerpt {
  P {.f-size-small;}
}
.author-img, .author-name {
    text-align: center;
    img {max-width: 100px; .mb10;}
    img.bottom {max-width: 100%;}
    p {.f-size-extra-small;}
    a {text-decoration: none; .charcoal;}
  }
.author-img {
  @media @small, @extra-small {.mt20; }
}
.insight-credit-foot {
  .author-img {}
 .author-name {text-align: left;}
}

.gen-img-right, .gen-img-left, .gen-img-center {
  @media @extra-small, @small, @medium , @large {
    max-width: 100%;
    .mlr0;
  }
}
.gen-img-right {
  float: right;
  .ml20;
  .mb10;
}
.gen-img-left {
  float: left;
  .mr20;
  .mb10;
}



.you-might-also-like {
  border-top: @green 2px solid;
  .mt20;
  .mb40;
  .pt20;
  h4 {.f-size-medium-20; .f-weight-sembold; .mb20; }
  p, a {.f-size-small-14; .l-height-small-14;}
  em {.mb10; display: block;}
}

.you-might {.mb20;}

.edit-this {
  display: block;
  position: absolute;
  left: 2px;
  top: 140px;
  z-index: 99;
  .bg-light-green;
  padding: 2px 2px;
  transform: rotate(90deg);
  text-decoration: none;
}

.download-study {
  .mb20;
  display: block;
  img {display:inline-block; position: relative; top: -10px;}
  img:hover {cursor: pointer;}
  h2 {display: inline-block; .ml10; .black; text-decoration: none;}
  h2:hover {.green;}
}

.share-row {width: 134px;
  margin: 0 auto;
  padding-left: 4px;
  img {float: left; margin-right: 4px; margin-bottom: 4px;}
}

.thumbs-row {
  .mt10;
  .mb30;
  .thumbs-up {position: relative; display: inline-block; top:-12px; margin-right: 5px;}
  .thumbs-down {position: relative; display:inline-block; top:0px; }
}

.home-features {
  h2 {
      @media @large {.f-size-large; .l-height-large;}
      @media @medium {.f-size-medium; .l-height-medium;}
      @media @small {.f-size-medium; .l-height-medium;}
      @media @extra-small {.f-size-medium; .l-height-medium;}
      margin-bottom: 2%;
  }
  p {.f-size-small-16;}
}

.home-feature-text {max-width: 475px; width: 80%;}

#home-global-boog {
  background: url('../imgz/home-global-boog-sm.jpg') no-repeat center center; .cover-bg; height: 500px;
   @media @extra-large { background: url('../imgz/home-global-boog-xl.jpg') no-repeat center center; .cover-bg; height: 702px;}
   @media @large { background: url('../imgz/home-global-boog-xl.jpg') no-repeat center center; .cover-bg; height: 540px;}
   @media @medium {background: url('../imgz/home-global-boog-md.jpg') no-repeat center center; .cover-bg; height: 510px;}
   @media @small, extra-small {background: url('../imgz/home-global-boog-sm.jpg') no-repeat center center; .cover-bg; height: 500px;}
}

#home-global-boog-mob {
  .home-feature-text {
    .mtb40;
    @media @small, extra-small {.mtb40;}
  }
}

#home-globes {
  background: url('../imgz/home-globes-lg.jpg') repeat-x center center;
   @media @extra-large, @large, @medium { background: #DEE7F0 url('../imgz/home-globes-lg.jpg') repeat-x center center; .flat-bg; height: 395px;}
   @media @small, @extra-small {background:  #DEE7F0 url('../imgz/home-globes-sm.jpg') repeat-x center -30px; .flat-bg; height: 167px;}
   .row {.pb30;
     @media @small, @extra-small {.pb10;}
   }
}

#home-industries {
  @media @extra-large, @large, @medium {height:445px;}
  @media @small, @extra-small  {height:auto;}
  .home-industries-img {
    background: url('../imgz/home-industries-lg.jpg') repeat-x center center;
     @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/home-industries-lg.jpg') no-repeat center center; .cover-bg;}
     @media @small, @extra-small {background:  #E3F2F1 url('../imgz/home-industries-lg.jpg') no-repeat center center; .cover-bg;}
     @media @small, @extra-small {height:325px;}
  }
  .home-feature-text {
    .mtb40;
    @media @small, extra-small {.mtb40;}
  }
}

#home-solutions {
  @media @extra-large, @large, @medium {height:430px; .mtb80; }
  @media @small, @extra-small  {height:auto; .mtb40;}
  .home-solutions-img {
    background: url('../imgz/home-solutions-lg.jpg') no-repeat center center;
     @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/home-solutions-lg.jpg') no-repeat center center; .cover-bg;}
     @media @small, @extra-small {background:  #E3F2F1 url('../imgz/home-solutions-lg.jpg') no-repeat center center; .cover-bg;}
     @media @small, @extra-small {height:325px;}
  }
  .home-feature-text {
    .mtb40;
    @media @small, extra-small {.mtb40;}
  }
}

#home-experts {
  @media @extra-large, @large, @medium {height:614px;}
  @media @small, @extra-small  {height:auto;}
  .home-industries-img {
    background: url('../imgz/home-industries-lg.jpg') repeat-x center center;
     @media @extra-large, @large, @medium { background: #DEE7F0 url('../imgz/home-team-lg.jpg') repeat-x left center; .flat-bg;}
     @media @small, @extra-small {background: #DEE7F0 url('../imgz/home-team-sm.jpg') repeat-x center center; .flat-bg;}
     @media @small, @extra-small {height:433px;}
  }
  .home-feature-text {
    .mtb40;
    @media @small, extra-small {.mtb40;}
  }
}

#home-insights, #insights{
  .insights-hero {position: relative;}
  .insights-container {
      position: relative;
      top: -60px;
      margin-bottom: -60px;
        @media @small, @extra-small {top: 0px; margin-bottom: 0;}
      margin-left: 30px;
      margin-right: 30px;
        @media @small, @extra-small {margin: 0px;}
      .bg-white;
      .read-time {.mb10;}
      h2 {
        @media @large {.f-size-large; .l-height-large;}
        @media @medium {.f-size-medium; .l-height-medium;}
        @media @small {.f-size-medium; .l-height-medium;}
        @media @extra-small {.f-size-medium; .l-height-medium;}
        margin-bottom: 2%;
      }
      .btn {
        @media @small, @extra-small {max-width: 160px; margin: 20px auto;}
      }
  }
}

#home-insights-excerpts, .insights-index-excerpts, .insights-talent-excerpts {
  .row {margin-right: 10px; margin-left: 10px;}
  .read-time {
      display: inline-block;
      background: url('../imgz/icon-star.png') no-repeat left 2px;
      p {.f-size-extra-small; .pl20; .mb0;}
    }
    .author-name {
        text-align: left;
        display: inline-block;
        margin-right: 5px;
        p {.f-size-extra-small; .mb0;}
      }
  h4 {.f-weight-light; .f-size-small-16; .l-height-small-16;}
  h4 a {.charcoal;}
  h4 a:hover {.red;}
  img {
    .mb10;
    @media @medium, @large {width: auto;}
    @media @small, @extra-small {width: 100%;}
  }
  .insights-excerpt-tile {
    @media @small, @extra-small {.mb20;}
  }
}

.insights-index-excerpts {
  .row {margin: 25px 15px;}
}
.insights-talent-excerpts {
  .row {margin: 0;}
  .col-12 {padding: 0 5px;}
}

#super-footer-get-results {
  .bg-light-green;
  h3 {
     font-family: @o;
     .f-size-medium;
     .mt30; .mb10;
     .f-weight-sembold;
     .f-size-large;
   }
   p {
     .charcoal;
     .f-size-medium;
     .f-weight-light;
   }
}

#super-footer-form-quote {
  .sf-quote {
    .foot-feature-text {
      width: 514px;
      @media @large {width:424px;}
      @media @medium {width:326px;}
      .ml40;
      @media @medium {.ml20;}
      @media @small, @extra-small {margin: 0;}
      h3 {
        font-family: @o;
        .f-weight-light;
        .f-size-medium;
        color: @white;
        @media @large, @extra-large {.f-size-large;}
        @media @medium {.f-size-medium;}
        @media @small {.f-size-large;}
        @media @extra-small {.f-size-medium;}
      }
    }
    background: url('../imgz/footer-bg-logo-crop.png') no-repeat right bottom;
     @media @extra-large, @large, @medium { background: #5A89B4 url('../imgz/footer-bg-logo-crop.png') no-repeat right bottom;}
     @media @small, @extra-small {background:  #5A89B4 url('../imgz/footer-bg-logo-crop.png') no-repeat right bottom;}
     @media @small, @extra-small {min-height:325px;}
   p, a {
     .white;
     .f-size-small;
     .f-weight-light;
     text-decoration: none;
   }
   img {
     // display: block;
     // margin: 0 auto;
     display: inline;
     max-width: 30px;
     .mt0;
     position: relative;
     top: 0px;
   }
  }
 .quote-attrib {padding-left: 30px;}
 .quote-dash {position: relative;
    display: inline-block;
    left: -28px;
    margin-right: -18px;
  }
}



#footer-bottom {
  .pt30;
  .bg-charcoal;
  .bottom-links{
    text-align: right;
    @media @small, @extra-small {text-align: center;}
    p {
      .light-blue;
      @media @medium, @large, @extra-large {&:first-child {margin-top: 0;}}
      .mt10;
      @media @small {.mt20;}
      .f-size-small-16;
      @media @small {.f-size-medium;}
    }
    a {
      display: inline-block;
      .white;
      .f-weight-reg;
      text-decoration: none;
    }
    a:hover {.light-blue; text-decoration: underline;}
    .small { a {.f-size-extra-small; .f-weight-light;}}
    .social-icon {.ml5;}
  }
}

.lets-talk {
  max-width: 160px;
  .mt90;
  @media @medium, @small, @extra-small {.mt40;}
  &.sm-talk-mar {.mt10;}
}

.da-main-ova {
  .bg-white;
  .pt30;
  position: relative;
  top: -60px;
  margin-bottom: -60px;
  @media @small {top: 0; margin-bottom:0;}
  h2 {.mb20;}
  .pb80;
}

.breadcrumbs {
  img {display: inline-block; .mr5; position: relative; top: -2px;}
  P {display: inline-block; .f-size-small-16; .mb10;}
  h3 {.f-size-medium; .f-weight-sembold; .mb10;}
  a {text-decoration: none; .black;}
  a:hover {.green;}
}

.meta {
  p {.f-size-small-16; .mb0;}
}

#hero-feature-scrolly {
    height:800px;
    .bg-blue;
    @media @extra-large {height:800px;}
    @media @large {height:800px;}
    @media @medium {height:715px; .prl40;}
    @media @small  {height:470px;}
    @media @extra-small {height:470px;}
    }
#hero-feature-scrolly .bcg {
  background-size: cover;
}

.hero-copy {
  z-index: 2;
  opacity: 1;
  display: block;
  position: relative;
  top: 130px;
  padding-right: 60px;
  @media @medium, @small, @extra-small  {.prl10;}
  h1 {
    @media @medium, @large, @extra-large {.f-size-large; .l-height-large; float: right; text-align: right;}
    @media @small, @extra-small {.f-size-medium; .l-height-medium; float: none; text-align: center;}
  }
}
.scroll-magi {z-index:99; .bg-white; position: relative;}
.da-main-ova {z-index:99;}
.parallaxParent {overflow: hidden; height:800px;}
.parallax {position: relative;}
.fixored {position: fixed;}
.scroll-low {z-index:1!important;}
.wrap {z-index:99;}

.bcg {
  background: no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  // height: 800px;
  z-index: 1;
  opacity: 1;
  @media @extra-large, @large {height:800px;}
  @media @medium {height:715px;}
  @media @small, @extra-small  {height:470px;}
}


#hero-feature {
  @media @extra-large, @large {height:800px; .pt120; .prl40;}
  @media @medium {height:715px; .pt120; .prl40;}
  @media @small, @extra-small  {height:470px; .pt120;}
  h1 {
    @media @medium, @large, @extra-large {.f-size-large; .l-height-large; float: right; text-align: right;}
    @media @small, @extra-small {.f-size-medium; .l-height-medium; float: none; text-align: center;}
  }
}

#hero-page {
  @media @extra-large, @large {height:400px; .pt120; .prl40;}
  @media @medium {height:300px; .pt120; .prl40;}
  @media @small, @extra-small  {height:200px; .pt120;}
}

.solutions-body {
  #hero-feature-scrolly {
    .bcg {background: url(../imgz/solutions-hero-lg.jpg) no-repeat center center;}
    h1 {
      .white;
      .black-text-shadow;
    }
  }
  strong {.f-weight-sembold; .f-size-medium;}
}

.solutions-whiteboard-bg {
  @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/solutions-whiteboard-lg.jpg') no-repeat center center; .cover-bg;}
  @media @small, @extra-small {background:  #E3F2F1 url('../imgz/solutions-whiteboard-lg.jpg') no-repeat center center; .cover-bg;}
}

.solutions-hand-whiteboard-cu-bg {
  @media @extra-large, @large { background: #E3F2F1 url('../imgz/solutions-hand-whiteboard-cu-bg.jpg') no-repeat center center; .cover-bg;}
  @media @medium  {background:  #E3F2F1 url('../imgz/solutions-hand-whiteboard-cu-bg.jpg') no-repeat -200px center; .cover-bg;}
  @media @small, @extra-small {background:  #E3F2F1 url('../imgz/solutions-hand-whiteboard-cu-bg.jpg') no-repeat -200px center; .cover-bg;}
  }

.industries-body {
  #hero-feature-scrolly {
      h1 {
        .white;
        .black-text-shadow;
      }
     .bcg {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/industries-hero-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/industries-hero-lg.jpg') no-repeat -100px 91px; .cover-bg;}
      }
    }
  #hero-page {
    @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/industries-hero-lg.jpg') no-repeat center center; .cover-bg;}
    @media @small, @extra-small {background:  #E3F2F1 url('../imgz/industries-hero-lg.jpg') no-repeat -100px 91px; .cover-bg;}
    @media @extra-large, @large, @medium { background-position-y: -20px;}
    @media @small, @extra-small {background-position-x: 0px; background-position-y: 0px;}
  }
  #hero-feature.manufacturers-suppliers-and-retailers {
    @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/industries-manufacture-hero-lg.jpg') no-repeat center center; .cover-bg;}
    @media @small, @extra-small {background:  #E3F2F1 url('../imgz/industries-manufacture-hero-lg.jpg') no-repeat center center; .cover-bg;}
  }

  .da-main-ova {padding-bottom:30px;}
  .industry-specialist { p {.f-size-small; .l-height-medium-24;}}
  ul.drive-results {margin-left:-14px; .mt20;}
  li.drive-results { .f-size-medium; .l-height-medium; .black; .mb20;}
  p.chalres { .f-size-small-16; .black;}

  h3.list-view {.f-size-medium; .f-weight-sembold; .mb10; .mt20; display: inline-block;}
  h3.challenge {.f-size-medium; .f-weight-sembold; .mb10; .mt20;}
  h4.specialist {.f-size-medium; .f-weight-sembold; .mtb20;}

  .industries-office-bg {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/industries-office-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/industries-office-lg.jpg') no-repeat center center; .cover-bg;}
    }
  .industries-cool-window-bg {
    @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/industries-cool-window-lg.jpg') no-repeat center center; .cover-bg;}
    @media @small, @extra-small {background:  #E3F2F1 url('../imgz/industries-cool-window-lg.jpg') no-repeat center center; .cover-bg;}
  }
}

.talent-body, .talentIndex-body {
  #hero-feature-scrolly {
      .bcg {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/talent-hero-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/talent-hero-lg.jpg') no-repeat center center; .cover-bg;}
      }
    h1 {
      .white;
      .black-text-shadow;
    }
  }
  #hero-page {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/talent-hero-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/talent-hero-lg.jpg') no-repeat center center; .cover-bg;}
    h1 {
      .white;
      .black-text-shadow;
    }
  }
  .da-main-ova {padding-bottom:0;}
  .talent-title {margin-top: -20px; margin-bottom: 20px;}
  h3 {.mb10;}
}

.process-body {
  #hero-feature {
    // border: solid red 1px;
    @media @extra-small, @small {overflow: hidden; height: 0; padding-top: 54.25%; margin-top:100px; margin-bottom: 20px;}
    @media @medium {height: 580px;}
    @media @large {height: 772px;}
    @media @extra-large {height: 760px;}
    @media @extra-large, @large, @medium, @small, @extra-small { .bg-white; }
    position: relative;
    // top: 98px;
    &.process-ill {
      @media @small, @extra-small {background:  #ffffff url('../imgz/180913-learning-solutions-model.svg') no-repeat center center; .contain-bg;}
    }
  }
  .process-stuff {
    p {text-align: center; .f-weight-sembold;}
  }
  .process-top {
    background-color: #f8f9fa;
  }
  .da-main-ova {
    background-color: #f8f9fa;
    top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

}

.values-body {
  #hero-feature {
      // .pl0; .pr0;
      // padding-top: 93px;
      // @media @extra-small, @small {height: 100%;}
      // @media @medium {height: 617px;}
      // @media @large {height: 772px;}
      // @media @extra-large {height: 888px;}
      // @media @extra-large, @large, @medium, @small, @extra-small { .bg-blue; }
      @media @extra-small, @small {overflow: hidden; height: 0; padding-top: 54.25%;}
      @media @medium {height: 560px;}
      @media @large-alt {height: 712px;}
      @media @extra-large-alt {height: 980px; max-width: 2000px; margin: 0 auto;}
      @media @extra-large, @large, @medium, @small, @extra-small { .bg-blue; }
      position: relative;
      top: 92px;
      &.values-ill {
        @media @extra-large-alt { background: #E3F2F1 url('../imgz/180906-values-full-wide-2000w.jpg') no-repeat center center; .cover-bg;}
        @media @large-alt { background: #E3F2F1 url('../imgz/180906-values-full-wide-1600w.jpg') no-repeat center center; .cover-bg;}
        @media @medium { background: #E3F2F1 url('../imgz/180906-values-full-wide-1200w.jpg') no-repeat center center; .cover-bg;}
        @media @small, @extra-small {background:  #E3F2F1 url('../imgz/180906-values-full-wide-1200w.jpg') no-repeat center center; .contain-bg;}
      }
    h1 {
      .white;
      .black-text-shadow;
    }
  .values-img {
      @media @extra-small, @small {width: 100%;}
      @media @medium {width: 720px;}
      @media @large {width: 960px;}
      @media @extra-large {width: 1140px;}
    }
  }
  .da-main-ova {
    top: -30px;
    margin-bottom: 0;
    @media @extra-small, @small {top:0;}
    @media @medium, @small, @extra-small {top: 92px; margin-bottom: 110px;}
    padding-bottom: 0;
  }
  .val-ill-w {
    max-width: 268px;
    @media @extra-small, @small, @medium {width: 100%;}
  }
}

.about-body {
  #hero-feature-scrolly {
    .bcg {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/about-hero-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/about-hero-lg.jpg') no-repeat center center; .cover-bg;}
      }
    h1 {
      .white;
      .black-text-shadow;
    }
  }
}

.purpose-body {
  #hero-feature-scrolly {
      @media @extra-small, @small {height: 470px;}
      @media @medium {height: 560px;}
      @media @large {height: 712px;}
      @media @extra-large {height: 800px; margin: 0 auto;}
    .bcg {
      @media @extra-large   { background: url('../imgz/180531-global-boog-grid-2400w.jpg') no-repeat center center; .cover-bg;}
      @media @large { background: url('../imgz/180531-global-boog-grid-1800w.jpg') no-repeat center center; .cover-bg;}
      @media @medium { background: url('../imgz/180531-global-boog-grid-1200w.jpg') no-repeat center center; .cover-bg;}
      @media @small { background: url('../imgz/180531-global-boog-grid-800w.jpg') no-repeat center center; .cover-bg;}
      @media @extra-small { background: url('../imgz/180531-global-boog-grid-800w.jpg') no-repeat center center; .cover-bg;}
    }
    h1 {
      .black;
      text-align:left;
      float: none;
      .mb20;
    }
    .hero-copy-purpose {
      width: 500px;
      .bg-white;
      z-index: 2;
      opacity: 1;
      display: block;
      position: relative;
      .prl20;
      .ptb20;
      @media @extra-small, @small {top: 200px;}
      @media @medium {top: 200px;}
      @media @large {top: 330px;}
      @media @extra-large {top: 430px;}
    }
  }
  h2 {.f-size-medium;}
  h3 {.f-weight-sembold; .f-size-small;}

}

.positive-impact-body, .positiveImpact-body, .giving-back-body, .givingBack-body,
.free-resources-body, .contact-body, .join-body, .privacy-body, .legal-body, .search-body
{
  #hero-feature {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
      }
  #hero-feature-scrolly {
      .bcg {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
      }
    h1 {
      .white;
      .black-text-shadow;
    }
  }
  #hero-page {
      @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
      @media @small, @extra-small {background:  #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
    h1 {
      .white;
      .black-text-shadow;
    }
  }
  .da-main-ova {.pb20;}
  h4 {.f-weight-sembold; .mb20;}
  .excerpt {
    P {.f-size-small-16;}
  }
}

.giving-back-body, .givingBack-body {
  .author-name {
    text-align: left;
    display: inline-block;
    margin-right: 5px;
  }
}

.search-body {
  .da-main-ova {
    margin-bottom: -80px;
  }
  ul.listing {
    .pl0;
    width: 100%;
    li {
      list-style: none;
      padding: 2%;
      h3 {.mb10;}
      a {text-decoration: none;}
      &:nth-child(odd) { background-color:#f0f8ff }
      &:nth-child(even) { background-color: #f7f7f7; }
    }
  }
}



body.insights-body, body.two-insights-page {
  @media @small, @medium, @large, @extra-large {background: #FFF url('../imgz/insights-bg-tile.jpg') repeat-x;}
  @media @extra-small {background: #FFF url('../imgz/insights-bg-tile.jpg') repeat-x;}
  @media @large {background-position-y: -110px;}
  @media @medium {background-position-y: -210px;}
  @media @small, @extra-small {background-position-y: -340px;}
  @media @tiny {background-position-y: -470px;}
}
body.two-insights-page {
  background-position: 0px -200px;
  @media @extra-large {background-position: 0px -200px;}
  @media @large {background-position: 0px -320px;}
  @media @medium {background-position: 0px -460px;}
  @media @small {background-position: 0px -660px;}
  @media @extra-small {background-position: 0px -860px;}
}
body.two-insights-paginate-page {
  background-position: 0px -850px;
  margin-top: 200px;
}
body.two-insights-category-page {
  background-position: 0px -670px;
  margin-top: 200px;
}

.insights-body {
  #hero-page {
    // @media @extra-large, @large, @medium { background: #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
    // @media @small, @extra-small {background:  #E3F2F1 url('../imgz/positive-impact-hero-lg.jpg') no-repeat center center; .cover-bg;}
    }
}

#insights-index-head {
  margin-top:190px;
  height: 200px;
  border: solid #ccc 1px;
  .bg-white;
  &.index-cat-head {border: none; height: auto; .pt20;}
}

#insights-page-head {
  margin-top:170px;
  @media @extra-small, @small {margin-top: 92px;}
}

.insights-intro, .section-intro {
  p {
  .f-size-medium;
  .l-height-medium;
  }
}

.insights-big-quote, .big-quote {
  &.bg-amber, &.bg-green, &.bg-blue, &.bg-red, &.bg-purple, &.bg-grey {p {.white;}}

  p {.f-weight-light-ital;}
  @media @large, @extra-large {
    p {
    .f-size-extra-large;
    .l-height-extra-large;
    }
  }
  @media @small, @medium {
    p {
    .f-size-large;
    .l-height-large;
    }
  }
  @media @extra-small {
    p {
    .f-size-medium;
    .l-height-medium;
    }
  }
}

.talent-big-quote {
  p {.f-weight-light-ital;}
  @media @large, @extra-large {
    p {
    .f-size-large;
    .l-height-large;
    }
  }
  @media @small, @medium {
    p {
    .f-size-medium;
    .l-height-medium;
    }
  }
  @media @extra-small {
    p {
    .f-size-medium;
    .l-height-medium;
    }
  }
}

.insights-big-image {
  img {width:100%;}
  @media @extra-small, @small { img {.mb10;} }
  p {
    .f-size-extra-small;
    .white;
    .mb10; .ml10;
  }
  @media @extra-small, @small { p {text-align: center;} }
  a {.white; text-decoration: underline;}
  &.dark-text { p, a {.charcoal; } }
  padding-left: 30px;
  @media @extra-small, @small {padding-left:0;}
}

.big-bullet {
  text-align: center;
  display: block;
  @media @large, @extra-large {width: 60px; height: 60px; border-radius: 30px;}
  @media @small, @medium {width: 46px; height: 46px; border-radius: 23px;}
  @media @extra-small { width: 30px; height: 30px; border-radius: 15px;}
  P {
    .white;
    .f-weight-med;
    @media @large, @extra-large {.f-size-extra-large; line-height: 56px;
      &.big-bullet-two-digis {.f-size-large; line-height: 62px;}
    }
    @media @small, @medium {.f-size-large; line-height: 47px;
      &.big-bullet-two-digis {.f-size-large-32; line-height: 44px;}
    }
    @media @extra-small {.f-weight-light;
      .f-size-small; line-height: 30px;
      &.big-bullet-two-digis {.f-size-small; line-height: 30px;}
    }
  }
}

.copy-quote {
    h1, h2, h3, h4 {.f-weight-light-ital; .white;}
    p {.white;}
    &.dark-text { h1 {.charcoal; } p {.charcoal;}}
    @media @large, @extra-large {
      h1 {
      .f-size-extra-large;
      .l-height-extra-large;
      }
    }
    @media @small, @medium {
      h1 {
      .f-size-large;
      .l-height-large;
      }
    }
    @media @extra-small {
      h1 {
      .f-size-medium;
      .l-height-medium;
      }
    }
}

.entry-body {
  p {margin-bottom: 2%;}
}
.entry-hashtags {
  @media @large, @extra-large { p {.green; .f-size-medium; .l-height-medium;}}
  @media @extra-small, @small, @medium { p {.green; .f-size-medium; .l-height-medium;}}
}

.pagination {
  margin-bottom: 50px;
  display: block;
  text-align: center;
    ul {
      list-style-type: none;
      display: inline-block;
      text-align: center;
      margin-top: 0;
    }
   li {
    display: inline-block;
    text-align: center;
    font-family: "montserratbold", clean, sans-serif;
    padding: 5px;
   }
   li.current {
       .red;
       border-bottom: 2px solid #cf6a34;
   }
}

.pag-prev-link, .pag-next-link {
    width: 20px;
    height: auto;
    font-size: 0;
    position: relative;
    display: block;
}

.pag-prev-link:after, .pag-next-link:after {
    display: block;
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 50%;
    margin-top: -13px;
    background: url(../imgz/icon-arrow.svg) no-repeat right center;
    background-size: 20px 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pag-prev-link:after {
    left: -5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
