{#
LEGAL INDEX
/templates/legal/index.html
niceworld 8.24.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Cookie Policy' %}

{% block head %}
  {% set title = "Cookie Policy" %}
  {{ parent() }}
  <script>
  // js
  </script>
{% endblock %}

{% block main %}

<div id="hero-page" class="container-fluid no-marr build-border-blue"></div>

<div class="scroll-magi build-border-dashed"><!-- scroll-magi -->
<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><img src="/imgz/logo-vivayic-bug-red.svg"><p>legal stuff:</p></span>
      <h2>{{pageName}}</h2>
      <div class="section-intro"><p></p></div>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->


<div class="container">
  <div class="row">
    <div class="col-12 v-pad mb40">

<p>Last updated October 31, 2018</p>
<p>
This Cookie Policy explains how Vivayic ("Company", "we", "us", and "our") uses cookies and similar technologies to recognize you when you visit our websites at www.vivayic.com, ("Websites"). It explains what these technologies are and why we use them, as well as your rights to control our use of them.</p>

<p>In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information. In such cases our Privacy Policy (www.vivayic.com/privacy) will apply in addition to this Cookie Policy.</p>

<p>What are cookies?</p>

<p>Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.</p>

<p>Cookies set by the website owner (in this case, Vivayic) are called "first party cookies". Cookies set by parties other than the website owner are called "third party cookies". Third party cookies enable third party features or functionality to be provided on or through the website (e.g. like advertising, interactive content and analytics). The parties that set these third party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites.</p>

<p>Why do we use cookies?</p>

<p>We use first and third party cookies for several reasons. Some cookies are required for technical reasons in order for our Websites to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our Online Properties. Third parties serve cookies through our Websites for advertising, analytics and other purposes. This is described in more detail below.</p>

<p>The specific types of first and third party cookies served through our Websites and the purposes they perform are described below (please note that the specific cookies served may vary depending on the specific Online Properties you visit):</p>

<p>Essential website cookies:</p>

<p>These cookies are strictly necessary to provide you with services available through our Websites and to use some of its features, such as access to secure areas.</p>

<p>■ Who serves these cookies:</p>

<p>• Cookie provider: Craft CMS</p>

<p>  Website URL: Craftcms.org</p>

<p>■ How to refuse: Because these cookies are strictly necessary to deliver the Websites to you, you cannot refuse them. You can block or delete them by changing your browser settings however, as described below under the heading "How can I control cookies?".</p>

<p>Performance and functionality cookies:</p>

<p>These cookies are used to enhance the performance and functionality of our Websites but are non-essential to their use. However, without these cookies, certain functionality (like videos) may become unavailable.</p>

<p>■ Who serves these cookies:</p>

<p>•  Cookie provider: Craft CMS</p>

<p>  Website URL: craftcms.com</p>

<p>■ How to refuse: To refuse these cookies, please follow the instructions below under the heading "How can I control cookies?". Alternatively, please visit the relevant opt-out link below:</p>

<p>•  Cookie provider: Craft CMS</p>

<p>  Opt-out Link: craftcms.com</p>

<p> Analytics and customization cookies:</p>

<p>These cookies collect information that is used either in aggregate form to help us understand how our Website are being used or how effective our marketing campaigns are, or to help us customize our Websites for you.</p>

<p> ■ Who serves these cookies:</p>

<p>• Cookie provider: Google Analytics</p>

<p>  Website URL: google.com</p>

<p>■ How to refuse: To refuse these cookies, please follow the instructions below under the heading "How can I control cookies?". Alternatively, please visit the relevant opt-out link below:</p>

<p>•  Cookie provider: Google Analytics</p>

<p>  Opt-out Link: google.com</p>

<p>What about other tracking technologies, like web beacons?</p>

<p>Cookies are not the only way to recognize or track visitors to a website. We may use other, similar technologies from time to time, like web beacons (sometimes called "tracking pixels" or "clear gifs"). These are tiny graphics files that contain a unique identifier that enable us to recognize when someone has visited our Websites or opened an e-mail that we have sent them. This allows us, for example, to monitor the traffic patterns of users from one page within our Websites to another, to deliver or communicate with cookies, to understand whether you have come to our Websites from an online advertisement displayed on a third-party website, to improve site performance, and to measure the success of e-mail marketing campaigns. In many instances, these technologies are reliant on cookies to function properly, and so declining cookies will impair their functioning.</p>

<p>How can I control cookies?</p>

<p>You can set or amend your web browser controls to accept or refuse cookies. If you choose to reject cookies, you may still use our website though your access to some functionality and areas of our website may be restricted. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser's help menu for more information.</p>

<p>In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like to find out more information, please visit http://www.aboutads.info/choices/ or http://www.youronlinechoices.com. </p>

<p>How often will you update this Cookie Policy?</p>

<p>We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal or regulatory reasons. Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.</p>

<p>The date at the top of this Cookie Policy indicates when it was last updated.</p>

<p>Where can I get further information?</p>

<p>If you have any questions about our use of cookies or other technologies, please email us at info@vivayic.com or by post to:</p>

<p>
Vivayic<br>
600 Blue Sage Blvd  <br>
Lincoln, NE 68521  <br>
United States    <br>
Phone: (800) 280-7272 <br>
</p>

    </div>
  </div>
</div>

{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
