{#
INSIGHTS ENTRY
/templates/insights/_entry.html
niceworld 7.18.18
#}

{% extends "_layouts/site" %}



{% block head %}
  {% if entry.seoTitle|length %}{% set title = entry.seoTitle %}{% else %}{% set title = entry.title %}{% endif %}
  {% if entry.seoDescription|length %}{% set description = entry.seoDescription %}{% else %}{% set description = entry.insightExcerpt %}{% endif %}
  {{ parent() }}
{% endblock %}

{% block main %}

<div id="insights-page-head" class="container build-border-blue"></div>

<div id="home-insights" class="container build-border-red">
  <div class="row insights-hero build-border-dashed">
    <div class="col-12 no-padd no-marr">
      {% set hero = entry.insightsHero.first() %}
      <img
      sizes="100vw"
      srcset="{{ hero.url('insightsHeroBig') }} 1205w,
              {{ hero.url('insightsHeroMedium') }} 1000w,
              {{ hero.url('insightsHeroSmall') }} 770w"
      src="{{ hero.url('insightsHeroBig') }}" class="img-fluid" alt="{{ hero.title }}"
      >
    </div>
  </div>
  <div class="row insights-container px-0 px-md-2 py-2 py-md-4 build-border-pink">
    <div class="col-12 col-md-9 px-0 px-md-2">
      <h2><a href="#">{{ entry.title }}</a></h2>
      <div class="date"><p>{{ entry.postDate | date("M d, Y") }}{% if entry.readTime | length %}</p></div><div class="read-time"><p>{{ entry.readTime }} minute read</p></div>{% endif %}
    </div>
    <div class="col-12 col-md-3">
      {% set rel = entry.insightAuthor.one() %}
      {% if rel %}
        {% set headshot = rel.talentHeadshot.first() %}
        <div class="author-img"><a href="{{ rel.url }}"><img src="{{ headshot.url('talentHeadshot260') }}" class="hover-grow"></a></div>
        <div class="author-name"><a href="{{ rel.url }}"><p>{{ rel.talentFirstAndLast }}</a><br> {{ rel.talentTitle }}</p></div>
      {% endif %}
    </div>
  </div><!-- /row -->
</div><!-- /home-insights -->

{% set step = 0 %}{# this is so we can loop the bullets #}

{% for block in entry.insightsMain %}

  {% if block.type == 'introCopy' %}
  <div class="container v-pad-45 build-border-red">
    <div class="col-12 col-md-9 insights-intro build-border-blue">
    <p>{{ block.enterIntroCopy }}</p>
    </div>
  </div>
  {% endif %}

  {% if block.type == 'generalCopy' %}
  <div class="container v-pad-45 {% if not loop.first %}loop-marr{% endif %} build-border-red">
    <div class="col-12 col-md-9 build-border-blue">
    {{ block.enterGeneralCopy | retconAttr('figure', { class: 'img-resp' }) }}
    </div>
  </div>
  {% endif %}


  {% if block.type == 'colorfulBullets' %}
  {% set step = step + 1 %}
  <div class="container v-pad-45 {% if not loop.first %}loop-marr{% endif %} build-border-red">
    <div class="col-12 col-md-9 build-border-blue">
    <div class="row">
      <div class="col-2 d-flex no-padd justify-content-center build-border-yellow">
      <div class="big-bullet {% if block.bulletColor | length %}{{ block.bulletColor }}{% else %}bg-charcoal{% endif %}"><p {% if step >="10"%}class="big-bullet-two-digis"{% endif %}>{{ step }}</p></div>
      </div>
      <div class="col-10 build-border-yellow">
      {{ block.bulletCopy }}
      </div>
    </div><!--/ row -->
  </div><!--/ col -->
</div><!--/ container -->
  {% endif %}


  {% if block.type == 'bigQuote' %}
  <div class="container v-pad-45 {% if not loop.first %}loop-marr{% endif %} build-border-red">
    <div class="col-12 col-md-9 big-quote build-border-blue">
    {{ block.enterBigQuote }}
    </div><!--/ col -->
  </div><!--/ container -->
  {% endif %}

  {% if block.type == 'wideImage' %}
  <div class="wrap
  {% if block.wideImageBgColor | length %}{{ block.wideImageBgColor }}{% else %}bg-charcoal{% endif %}
  {% if not loop.first %}loop-marr{% endif %} build-border-red">
    <div class="container v-pad-45 build-border-red">
      <div class="row align-items-end">
      <div class="col-12 col-md-9 insights-big-image pr0 build-border-blue">
        {% set blockImage = block.addWideImage.first() %}
        <img src="{{ blockImage.url }}">
      </div>
      <div class="col-12 col-md-3 insights-big-image
      {% if block.wideImageBgColor == "bg-light-blue" %}dark-text
      {% elseif block.wideImageBgColor == "bg-light-green" %}dark-text
      {% endif %} build-border-blue">
        {{ block.wideImageCaption }}
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
  </div><!-- /wrap -->
  {% endif %}

{% endfor %}

<div class="container insight-credit-foot v-pad-45 build-border-pink">
  <div class="row no-marr h-100">
    <div class="col-12 col-lg-6 build-border-blue">
      <div class="row no-marr align-items-center">
      {% set rel = entry.insightAuthor.one() %}
      {% if rel %}
        {% set headshot = rel.talentHeadshot.first() %}
          <div class="col-4 author-img"><a href="{{ rel.url }}"><img src="{{ headshot.url('talentHeadshot260') }}" class="bottom hover-grow"></a></div>
          <div class="col-8 author-name"><a href="{{ rel.url }}">
            <p><b>{{rel.talentFirstAndLast}}</b></a><br>
            {{rel.talentTitle}}</a></p>

            {% for block in rel.talentSocialLinks|slice(0, 4) %}
                {% if block.facebookUrl %}<a href="{{ block.facebookUrl}}" target="_new"><img src="{{ siteUrl }}imgz/icon-social-fb-blue-circle.svg" class="mr10"></a>{% endif %}
                {% if block.twitterUrl %}<a href="{{ block.twitterUrl}}" target="_new"><img src="{{ siteUrl }}imgz/icon-social-tw-blue-circle.svg" class="mr10"></a>{% endif %}
                {% if block.linkedinUrl %}<a href="{{ block.linkedinUrl}}" target="_new"><img src="{{ siteUrl }}imgz/icon-social-insta-blue-circle.svg" class="mr10"></a>{% endif %}
                {% if block.instagramUrl %}<a href="{{ block.instagramUrl}}" target="_new"><img src="{{ siteUrl }}imgz/icon-social-li-blue-circle.svg" class="mr10"></a>{% endif %}
            {% endfor %}
            {% if rel.talentEmail %}<a href="mailto:{{ rel.talentEmail }}"><img src="{{ siteUrl }}imgz/icon-email-blue-circle.svg"></a>{% endif %}


          </div>
      {% endif %}
      </div>
    </div>
    <div class="col-12 col-lg-6 align-self-center text-center build-border-blue">
      <a href="{{ siteUrl }}insights" class="btn button-arrow-grey">Return to Insights</a>
    </div>
  </div><!-- /row -->
</div><!-- /container -->


{% include "_partials/you_might_like_share" %}


{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
