{#
VALUES INDEX
/templates/values/index.html
niceworld 8.24.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Values' %}

{% block head %}
  {% set title = "Values" %}
  {% set description = "After several years of running our company, and our lives, by a certain set of values, we decided to say them out loud so that we could even more firmly follow them." %}
  {% set canon_url = siteUrl ~"values" %}
  {% set og_img = siteUrl ~"imgz/social-share-values.jpg" %}
  {{ parent() }}
{% endblock %}


{% block main %}

<div id="hero-feature" class="values-ill container-fluid build-border-blue">
  <div class="container no-padd build-border-red">
  </div>
</div>

<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><img src="/imgz/logo-vivayic-bug-red.svg"><p>who we are:</p></span>
      <h2>{{ pageName }}</h2>
      <div class="section-intro"><p>{{ entry.introCopy }}</p></div>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->

{% include "_partials/entry_general" %}

<div class="container v-pad build-border-red">


  <div class="row h-100 mb40">
    <div class="col-sm-12 col-md-8 offset-md-2 my-auto">

        <p>Our values are not just our values. They are how we live... and work.</p>

        <p>After several years of running our company, and our lives, by a certain set of values, we decided to say them out loud so that we could even more firmly follow them. These values are our “secret sauce,” and like sauces improve with care and time, so have our commitment to our values and our use of them in our everyday work.</p>

        <h4>To help us identify our values, we created an image to go with each one.</h4>

    </div>
  </div><!-- /row -->

  <div class="row h-100">
    <div class="col-sm-12 col-md-4 offset-md-1 my-auto">
      <div class="card-block">
        <img src="/imgz/excellence-practicality-600px.png" class="img-resp">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Intersection of Excellence and Practicality</h2>
        <p>
          Great ideas that are feasible, leverage existing systems and practices, elegant solutions not just “whiz bang”, honor where people are and where they can go.
        </p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 offset-md-1 my-auto text-center">
      <div class="card-block mx-auto">
        <img src="/imgz/authenticity-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Authenticity</h2>
        <p>Shows up real to teammates and clients, no bullshit, admits mistakes, vulnerable.</p>
      </div>
    </div>
  </div><!-- /row -->


  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 offset-md-1 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/durability-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Durability</h2>
        <p>Flexible, long-lasting, reliable, responsible.</p>
      </div>
    </div>
  </div><!-- /row -->


  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 offset-md-1 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/initiative-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Initiative</h2>
        <p>Proactive, solves problems, takes leadership roles, seeks innovation.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 offset-md-1 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/empathy-600px.png" class="img-resp">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Empathy</h2>
        <p>Listen, see others’ perspectives, bring breadth of experience, consider about the learner’s experience.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 offset-md-1 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/curiousity-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Curiosity</h2>
        <p>Natural sense of wonder, always questioning how to improve, or is there a better way.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 offset-md-1 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/cultivation-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Cultivation</h2>
        <p>Invest in communities, support good causes, recognize and support personal lives and families of teammates and clients, treat people and self well.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb80">
    <div class="col-sm-12 col-md-8 offset-md-2 my-auto">

      <p class="mb40">
      Giving the values names helped us to be clear about what they are so that <a href="{{ siteUrl }}talent">team members</a>, clients and partners all know what to expect. These are things we’ve done since we were just starting out as a team of three. When we founded Vivayic, we did so because <strong>we wanted to build a workplace where we actually wanted to work</strong>. These behaviors, our values, were cornerstones of the type of team we wanted to join. So, they grew more out of "doing" than just "saying."
      </p>

      <p>
      We feel these behaviors have helped us build amazing relationships with our clients and with each other. We decided, as a team, to capture them so that we could be more intentional about living them on a daily basis in our interactions with each other and with our clients. It isn’t for show or because you’re "supposed" to have values; these aren’t just things we aspire to... <strong>these are things we actually DO on a regular basis</strong>. Our values are part of our language. When we’re brainstorming a new <a href="{{ siteUrl }}solutions">solution</a>, we sit back and actually ask ourselves... does this marry excellence and practicality? Our values are our "gut check" to make sure we’re staying true to what makes us effective.
      </p>


    </div>
  </div><!-- /row -->



</div><!-- /container -->


{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
