{#
VALUES INDEX
/templates/values/index.html
niceworld 8.24.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Values' %}

{% block head %}
  {% set title = "Values" %}
  {{ parent() }}
  <script>
  // js
  </script>
{% endblock %}

{% block main %}

<div id="hero-feature" class="values-ill container-fluid no-marr build-border-blue">
  <div class="container no-padd build-border-red">
    <img src="{{ siteUrl }}imgz/180906-values-full-1600w.jpg" class="values-img">
  </div>
</div>

<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><img src="/imgz/logo-vivayic-bug-red.svg"><p>who we are:</p></span>
      <h2>{{ pageName }}</h2>
      <div class="section-intro"><p>{{ entry.introCopy }}</p></div>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->

{% include "_partials/entry_general" %}

<div class="container v-pad build-border-red">
  <div class="row h-100">
    <div class="col-sm-12 col-md-4 my-auto">
      <div class="card-block">
        <img src="/imgz/excellence-practicality-600px.png" class="img-resp">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Excellent and Practicality</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 my-auto text-center">
      <div class="card-block mx-auto">
        <img src="/imgz/authenticity-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Authenticity</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </div><!-- /row -->


  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/durability-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Durability</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </div><!-- /row -->


  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/initiative-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Initiative</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/empathy-600px.png" class="img-resp">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Empathy</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/curiousity-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Curiosity</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </div><!-- /row -->

  <div class="row h-100 mtb40">
    <div class="col-sm-12 col-md-4 my-auto text-center">
      <div class="card-block">
        <img src="/imgz/cultivation-600px.png" class="img-resp val-ill-w">
      </div>
    </div>
    <div class="col-sm-12 col-md-8 my-auto">
      <div class="card-block text-center text-md-left">
        <h2>Cultivation</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
      </div>
    </div>
  </div><!-- /row -->


</div><!-- /container -->


{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
