{% extends "_layouts/base" %}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
	{% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}


{% if (craft.request.getSegment('1') == 'insights') and (craft.request.getSegment('2') == 'category') %}
	{% set pageClass = 'two-insights-category' %}
{% elseif (craft.request.getSegment('1') == 'insights') and (craft.request.getPageNum() != "1") %}
	{% set pageClass = 'two-insights-paginate' %}
{% elseif (craft.request.getSegment('1') == 'insights') and (craft.request.getSegment('2') != '') %}
	{% set pageClass = 'two-insights' %}
{% elseif (craft.request.getSegment('2') != '') %}
	{% set pageClass = 'two' %}
{% else %}
	{% set pageClass = 'one' %}
{% endif %}

{% block body %}
	{% block nav %}
			<div class="container">
			<nav class="top-nav fixed-top row no-mar">
					<div class="col-6 col-md-6 col-lg-4 align-self-center pl-4 build-border-blue">
							<a href="/"><img src="{{ siteUrl }}imgz/logo-vivayic.svg"></a>
					</div>
					<div class="col-lg-7 align-self-center no-padd d-none d-lg-block build-border-blue">
							<a class="nav-link float-right" href="{{ siteUrl }}insights">Insights</a>
							<a class="nav-link float-right" href="{{ siteUrl }}positive-impact">Positive Impact</a>
							<a class="nav-link float-right" href="{{ siteUrl }}industries">Industries</a>
							<a class="nav-link float-right" href="{{ siteUrl }}solutions">Solutions</a>
					</div>
					<div class="col-6 col-md-6 col-lg-1 align-self-center pr-2 build-border-blue">
						<a class="nav-open float-right" href="#"><img src="{{ siteUrl }}imgz/icon-hamburger-search.svg"></a>
					</div>
			</nav>
			</div><!-- /container -->
	{% endblock %}

	{% block main %}
	{% endblock %}

{% endblock %} {#-- /body --#}

{% block foot %}
	{% include "_partials/footer_form_quote" %}
	{% include "_partials/footer_global" %}
	{% include "_partials/nav_overlay" %}
{% endblock %} {#-- /foot --#}
