{#
CONTACT INDEX
/templates/giving-back/index.html
niceworld 8.24.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Contact' %}

{% block head %}
  {% set title = "Contact" %}
  {% set description = "Contact Vivayic" %}
  {% set canon_url = siteUrl ~"contact" %}
  {% set og_img = siteUrl ~"imgz/social-share-default.jpg" %}
  {{ parent() }}
{% endblock %}

{% block main %}

<div id="hero-page" class="container-fluid no-marr build-border-blue"></div>

<div class="scroll-magi build-border-dashed"><!-- scroll-magi -->
<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><img src="/imgz/logo-vivayic-bug-red.svg"><p>lets talk:</p></span>
      <h2>{{pageName}}</h2>
      <div class="section-intro"><p>Great coversations start here. Fill out the form at the bottom of the page, or just drop us a line.</p></div>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->

<div class="container v-pad build-border-red">


<div class="row h-100 mb40">
  <div class="col-sm-12 col-md-8 my-auto">


    <h1 class="contact_ph">(800) 280-7272</h1>
    <hr>
    <h1 class="contact_addr">Vivayic</h1>
    <h1 class="contact_addr">600 Blue Sage Blvd</h1>
    <h1 class="contact_addr">Lincoln, NE 68521</h1>
    <hr>
    <a href="https://www.linkedin.com/company/vivayic/"><h1 class="contact_soc">LinkedIn</h1></a>
    <a href="https://twitter.com/Vivayic"><h1 class="contact_soc">Twitter</h1></a>

    {#

    {% if craft.app.session.hasFlash('notice') %}
        <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
    {% elseif craft.app.session.hasFlash('error') %}
        <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
    {% endif %}


    {% macro errorList(errors) %}
        {% if errors %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endmacro %}

    {% from _self import errorList %}

    <form method="post" action="" id="contactFrm" name="contactFrm" accept-charset="UTF-8">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="contact-form/send">
        {{ redirectInput('contact/thanks') }}

        <input id="from-name" class="txt" type="text" name="fromName" placeholder="Name" value="{{ message.fromName ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

        <input id="from-email" class="txt" type="text" name="fromEmail" placeholder="Email" value="{{ message.fromEmail ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

        <input id="phone" class="txt" type="text" name="message[Phone]" placeholder="Phone" value="{{ message.body.phone ?? '' }}">
        {{ message is defined and message ? errorList(message.getErrors('message[phone]')) }}

        <textarea class="txt_3" type="text" id="message" placeholder="How can we help you?" name="message[body]">{{ message.message.body ?? '' }}</textarea>
        {{ message is defined and message ? errorList(message.getErrors('message[body]')) }}

        <select class="select_1" id="subject" name="message[Workline][]">
            <option selected value="na">
                What line of work are you in?
            </option>

            <option name="message[Workline][]" value="Agriculture, Food, and Natural Resources"> Agriculture, Food, and Natural Resources </option>
            <option name="message[Workline][]" value="Health and Wellness "> Health and Wellness </option>
            <option name="message[Workline][]" value="Technology and Innovation"> Technology and Innovation </option>
            <option name="message[Workline][]" value="Education and Workforce"> Education and Workforce </option>
            <option name="message[Workline][]" value="International Development"> International Development </option>
            <option name="message[Workline][]" value="Social Impact and Community Development"> Social Impact and Community Development </option>

         </select>

        <br>
        <input type="submit" value="Send">
    </form>

    <div id="thanks" class="ptb40">
      <div class="col-12 col-lg-9">
        <h2>Thank You!</h2>
        <div class="section-intro"><p>We’re thrilled to hear from you. Our inbox can’t wait to get your messages, so talk to us any time you like.</p></div>
      </div><!-- /col -->
    </div><!-- /row -->
    #}


  </div>
</div><!-- /row -->





</div> <!-- /container -->


{% endblock %}{#-- /main --#}

{% block foot %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
