{#
PURPOSE INDEX
/templates/purpose/index.html
niceworld 7.18.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Purpose' %}

{% block head %}
  {% set title = "Our Purpose" %}
  {{ parent() }}
  {% include '_partials/scrollface' %}
{% endblock %}

{% block main %}


<div id="hero-feature-scrolly" class="container-fluid no-marr no-padd build-border-blue">
    <div class="bcg"></div>
    <div class="container v-pad-45 build-border-red">
          <div class="hero-copy hero-copy-purpose">
            <h1>Purpose</h1>
            <p>Our guiding purpose is to build others capacity to do good in the world by helping them use learning as a strategy to enable larger goals. Our ambition is to partner with organizations that share in our vision of affecting positive change.</p>
          </div> <!-- / copy -->
    </div><!-- /container -->
</div><!-- /hero -->

<div class="scroll-magi build-border-dashed"><!-- scroll-magi -->
<div class="container v-pad-45 pt40 build-border-red">
  <div class="row build-border-blue">
    <div class="col-12 col-lg-6">

      <h2 class="mb20">Areas of Positive Impact</h2>

      <div class="section-intro">
        <p><em>Please <a href="#">join us</a> and share the vision. How can we help your organization do good in the world?</em></p>
      </div><!-- /section-intro -->

    </div><!-- /col-6 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container v-pad-45 pt40 build-border-red">
  <div class="row build-border-blue">
    <div class="col-12 col-md-6 order-md-12">
      <img src="/imgz/180608-purpose-img-1.jpg" class="img-resp mb-4">
    </div><!-- /col-6 -->
    <div class="col-12 col-md-6 order-md-1">
      <h3 class="mb20">Helping organizations that strive to impact underprivileged and marginalized communities</h3>
      <ul>
        <li> Facilitating success for shareholder farmers in the developing world.</li>
        <li> Equipping rural communities to build a better future.</li>
        <li> Helping altruistic organizations to have a greater impact.</li>
      </ul>
    </div><!-- /col-6 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container v-pad-45 pt40 build-border-red">
  <div class="row build-border-blue">
    <div class="col-12 col-md-6 order-md-12">
      <img src="/imgz/180608-purpose-img-2.jpg" class="img-resp mb-4">
    </div><!-- /col-6 -->
    <div class="col-12 col-md-6 order-md-1">
      <h3 class="mb10">Bringing relevance to K-16 education</h3>
      <ul>
        <li> Better delivering Career and Technical Education.</li>
        <li> Improving youth access to learning experiences that are interesting, meaningful and engaging.</li>
        <li> Helping companies and industry organizations commit more investment into sharing their technical expertise with educators for the benefit of student learning.</li>
      </ul>
    </div><!-- /col-6 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container v-pad-45 pt40 build-border-red">
  <div class="row build-border-blue">
    <div class="col-12 col-md-6 order-md-12">
      <img src="/imgz/180608-purpose-img-3.jpg" class="img-resp mb-4">
    </div><!-- /col-6 -->
    <div class="col-12 col-md-6 order-md-1">
      <h3 class="mb20">Building the human capital needed to ensure a safe, sustainable food supply</h3>
      <ul>
        <li> Better equipping key systems of knowledge transfer to serve the needs of farmers and ranchers.</li>
        <li> Developing more thoughtful strategies to promote human capital at leading agricultural companies.</li>
        <li> Better preparing young people to enter a career in food, agriculture, and natural resources.</li>
      </ul>
    </div><!-- /col-6 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container v-pad-45 mb40 pt40 build-border-red">
  <div class="row build-border-blue">
    <div class="col-12 col-md-6 order-md-12">
      <img src="/imgz/180608-purpose-img-4.jpg" class="img-resp mb-4">
    </div><!-- /col-6 -->
    <div class="col-12 col-md-6 order-md-1">
    <h3 class="mb20">Partnering with organizations that genuinely care about employee engagement and development</h3>
      <ul>
        <li> Helping start-ups to become Small Giants. </li>
	      <li> Generating new ideas, which lead to new approaches, which lead to better places to work.</li>
     </ul>
    </div><!-- /col-6 -->
  </div><!-- /row -->
</div><!-- /container -->





{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
