<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="stylesheet" href="/bootstrap-4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800" rel="stylesheet">

    <title>Vivayic - Homepage</title>
</head>
<body class="body-build-border body-min-width">

<div class="container">
<nav class="top-nav fixed-top row no-mar">
    <div class="col-6 col-sm-6 col-md-4 align-self-center no-padd build-border-blue">
        <a href="/"><img src="images/logo-vivayic.svg"></a>
    </div>
    <div class="col-md-7 align-self-center no-padd d-none d-md-block build-border-blue">
        <a class="nav-link float-right" href="#">Stories</a>
        <a class="nav-link float-right" href="#">Positive Impact</a>
        <a class="nav-link float-right" href="#">Industries</a>
        <a class="nav-link float-right" href="#">Solutions</a>
    </div>
    <div class="col-6 col-sm-6 col-md-1 align-self-center no-padd build-border-blue">
      <a class="nav-open float-right" href="#"><img src="images/icon-hamburger-search.svg"></a>
    </div>
</nav>
</div><!-- /container -->

<!-- global boog -->
<div id="home-global-boog" class="home-features container-fluid build-border-red">
  <div class="row h-100 build-border-red">
    <div class="col-6 offset-6 align-self-center no-padd build-border-blue">
      <div class="home-feature-text d-none d-md-block build-border-red">
      <p class="white">Our Purpose:</p>
      <h2 class="white">We build other’s capacity to do good in the world</h2>
      <p class="white">We apply this purpose to our client relationships, to our learning solutions, and to how we cultivate the talents and passions of our team.</p>
      <a href="#" class="btn button-arrow-grey mt40">Purpose</a>
      </div>
    </div>
  </div>
</div><!-- /global boog -->

<!-- global boog mobile -->
<div id="home-global-boog-mob" class="home-features container-fluid build-border-red">
  <div class="row h-100 build-border-red">
      <div class="col-12 d-md-none no-padd d-flex d-sm-flex justify-content-center bg-light-blue build-border-blue">
        <div class="home-feature-text build-border-red">
        <p>our purpose:</p>
        <h2>We build other’s capacity to do good in the world</h2>
        <p>We apply this purpose to our client relationships, to our learning solutions, and to how we cultivate the talents and passions of our team.</p>
        <a href="#" class="btn button-arrow-grey mt40">Purpose</a>
        </div>
      </div>
  </div>
</div>
<!-- /global boog mobile -->

<!-- many globes -->
<div id="home-globes" class="home-features container-fluid build-border-green">
  <div class="row h-100 build-border-red">
    <div class="col-12 d-flex d-sm-flex mt-auto justify-content-center build-border-blue">
      <p><a href="mailto:info@vivayic.com">send us a pic</a> of your “good in the world”</p>
    </div>
  </div>
</div><!-- /many globes -->

<!-- industries  -->
<div id="home-industries" class="home-features container-fluid no-padd no-marr build-border-red">
  <div class="row h-100 no-padd no-marr build-border-red">
    <div class="col-12 col-md-6 order-6 order-md-1 bg-charcoal d-flex justify-content-center justify-content-sm-center justify-content-md-end build-border-green">
      <div class="home-feature-text align-self-center build-border-yellow">
      <p class="white">our passion:</p>
      <h2 class="white">We drive results for your organization</h2>
      <p class="white">Our clients partner with us to execute on large-scale initiatives that drive important objectives. We do this well and we have the data to prove it.</p>
      <a href="#" class="btn button-arrow-grey mt40">Industries</a>
      </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-6 home-industries-img build-border-green">
      &nbsp;<br>
    </div>
  </div><!-- /row -->
</div><!-- / industries -->

<!-- solutions  -->
<div id="home-solutions" class="home-features container-fluid no-padd no-marr build-border-red">
  <div class="row h-100 no-padd no-marr build-border-red">
    <div class="col-12 col-md-6 order-1 order-md-1 home-solutions-img build-border-green">
      &nbsp;<br>
    </div>
    <div class="col-12 col-md-6 order-6 order-md-6 bg-white d-flex justify-content-center justify-content-sm-center justify-content-md-start build-border-green">
      <div class="home-feature-text ml-md-4 align-self-center build-border-yellow">
      <p>our expertise:</p>
      <h2>We craft insightful learning solutions</h2>
      <p>Vivayic offers learning solutions which strike a balance between solid research and lived experience. We offer learner centered programs based on great ideas and strong fundamentals.</p>
      <a href="#" class="btn button-arrow-grey mt40">Solutions</a>
      </div>
    </div>
  </div><!-- /row -->
</div><!-- / solutions -->


<!-- experts  -->
<div id="home-experts" class="home-features container-fluid no-padd no-marr build-border-red">
  <div class="row h-100 no-padd no-marr build-border-red">
    <div class="col-12 col-md-6 order-6 order-md-1 bg-blue d-flex justify-content-center justify-content-sm-center justify-content-md-end build-border-green">
      <div class="home-feature-text align-self-center build-border-yellow">
      <p class="white">our superpower:</p>
      <h2 class="white">We engage our team of experts to benefit your project</h2>
      <p class="white">Our people are amazing. Really. Our team members are experienced, innovative, intelligent, committed and hard-working individuals who share in your purpose and sense of mission.</p>
      <a href="#" class="btn button-arrow-grey mt40">Talent</a>
      </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-6 home-industries-img build-border-green">
      &nbsp;<br>
    </div>
  </div><!-- /row -->
</div><!-- / experts -->

<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>


<div style="width: 50px; height: 50px; display: inline-block;" class="bg-warm-black"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-gray"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-charcoal"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-blue"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-light-blue"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-green"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-light-green"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-amber"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class="bg-purple"></div>
<div style="width: 50px; height: 50px; display: inline-block;" class=""></div>


<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1><h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>








<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js"><\/script>')</script>
<script src="bootstrap-4.0.0/js/popper.min.js"></script>
<script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
