<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link rel="stylesheet" href="/bootstrap-4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,800" rel="stylesheet">

    <title>Vivayic - Homepage</title>
</head>
<body class="body-border body-min-width">

<div class="container">
<nav class="top-nav fixed-top row no-mar">
    <div class="col-6 col-sm-6 col-md-4 align-self-center no-padd build-border-blue">
        <a href="/"><img src="images/logo-vivayic.svg"></a>
    </div>
    <div class="col-md-7 align-self-center no-padd d-none d-md-block build-border-blue">
        <a class="nav-link float-right" href="#">Stories</a>
        <a class="nav-link float-right" href="#">Positive Impact</a>
        <a class="nav-link float-right" href="#">Industries</a>
        <a class="nav-link float-right" href="#">Solutions</a>
    </div>
    <div class="col-6 col-sm-6 col-md-1 align-self-center no-padd build-border-blue">
      <a class="nav-open float-right" href="#"><img src="images/icon-hamburger-search.svg"></a>
    </div>
</nav>
</div><!-- /container -->

<!-- global boog -->
<div id="global-boog" class="container-fluid home-features build-border-red">
  <div class="row h-100 build-border-red">
    <div class="col-6 offset-6 d-none d-md-block align-self-center no-padd build-border-blue">
      <div class="w-75 build-border-red">
      <p class="white">Our Purpose:</p>
      <h2 class="white">We build other’s capacity to do good in the world</h2>
      <p class="white">We apply this purpose to our client relationships, to our learning solutions, and to how we cultivate the talents and passions of our team.</p>
      <a href="#" class="btn button-arrow-grey mt40">purpose</a>
      </div>
    </div>
  </div>
</div><!-- /global boog -->

<div class="container-fluid home-features build-border-red">
  <div class="row h-100 build-border-red">
      <div class="col-12 d-block d-sm-block d-md-none no-padd bg-light-blue build-border-blue">
        <div class="w-75 build-border-red">
        <p> Our Purpose:</p>
        <h2>We build other’s capacity to do good in the world</h2>
        <p>We apply this purpose to our client relationships, to our learning solutions, and to how we cultivate the talents and passions of our team.</p>
        <a href="#" class="btn button-arrow-grey mt40">purpose</a>
        </div>
      </div>
  </div>
</div>




<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1><h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>
<h1>Go!</h1>








<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js"><\/script>')</script>
<script src="bootstrap-4.0.0/js/popper.min.js"></script>
<script src="bootstrap-4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
