{#
INDUSTRIES ENTRY
/templates/industries/_entry.html
niceworld 8.1.18
#}

{% extends "_layouts/site" %}

{% block head %}
  {% if entry.seoTitle|length %}{% set title = entry.seoTitle %}{% else %}{% set title = entry.title %}{% endif %}
  {% if entry.seoDescription|length %}{% set description = entry.seoDescription %}{% else %}{% set description = entry.insightExcerpt %}{% endif %}
  {{ parent() }}
{% endblock %}

{% block main %}

<div id="hero-feature" class="{{craft.request.lastSegment}} container-fluid no-marr build-border-blue"></div>

<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><a href="{{ siteUrl }}"><img src="/imgz/logo-vivayic-bug-red.svg"></a>
        <p><a href="{{ siteUrl }}{{ craft.request.getSegment(1) }}">who we help:</a></p>
      {% set parent = craft.entries.ancestorOf(entry).level(1).first() %}
        {% if parent|length %}
        <h3><a href="{{ parent.url }}">{{ parent.title }}</a></h3>
        {% endif %}
      </span>
      <h2>{{ entry.title }}</h2>
      <div class="section-intro">{{ entry.excerpt }}</div>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
      <a href="{{ siteUrl }}contact"><img src="{{ siteUrl }}imgz/icon-lets-talk-lg.jpg" class="lets-talk"></a>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->

          {% for block in entry.industriesGrid %}

            {% if block.type == 'challengesResults' %}
            <div class="container v-pad mb20 build-border-red">
              <div class="row">
                <div class="col-12 col-md-6 ptb40 px-5 bg-light-blue build-border-blue">
                  <p class="chalres">Your Challenge</p>
                  <h3 class="challenge">{{ block.challenge }}</h3>
                </div>
                <div class="col-12 col-md-6 ptb40 px-5 bg-light-green build-border-blue">
                  <p class="chalres">How we drive results</p>
                  <ul class="drive-results">
                  {% for row in block.results %}
                    <li class="drive-results">{{ row.resultsRow }}</li>
                  {% endfor %}
                  </ul>
                </div>
              </div><!-- /row -->
            </div><!-- /container -->
            {% endif %}

          {% endfor %}


          {% set relatedPositiveImpactStory = entry.industriesPositiveImpactStories.all() %}
          {% if relatedPositiveImpactStory|length %}
            <div class="container v-pad mt40 mb20 build-border-red">
              <div class="row">
                <div class="col-12">
                  <div class="meta"><p>Stories & Studies</p></div>
                  <h2>Positive Impact</h2>
                </div>
              </div>
            </div>

              {% for positiveEntry in relatedPositiveImpactStory %}

              <div class="container mb40 v-pad build-border-red">
                <div class="row h-100">
                  <div class="col-12 col-md-4 no-padd bg-light-blue">
                    {% set positiveThum = positiveEntry.positiveImpactThumb.first() %}
                    <a href="{{ positiveThum.url }}"><img src="{{ positiveThum.url('positiveImpactThumb') }}" class="img-fluid" alt="{{ positiveThum.title }}"></a>
                  </div>
                  <div class="col-12 col-md-8 px-4 py-4 bg-light-green">
                        <h4 class="specialist"><a href="{{ positiveEntry.url }}">{{ positiveEntry.title }}</a></h4>
                        {{ positiveEntry.excerpt }}
                        <p class="pt20"><a href="{{ positiveEntry.url }}" class="add-arrow-reg">read more</a></p>
                  </div>
                </div><!-- /row -->
              </div><!-- /container -->
              {% endfor %}
          {% endif %}



          {% set relatedSpecialist = entry.industriesSpecialist.all() %}
          {% if relatedSpecialist|length %}
          <div class="container v-pad mt40 mb20 build-border-red">
            <div class="row">
              <div class="col-12">
                <h2>Team Specialists</h2>
              </div>
            </div>
          </div>

            {% for rel in relatedSpecialist %}
            <div class="container industry-specialist mb40 v-pad build-border-red">
              <div class="row">
                <div class="col-12 col-md-4 py-4 d-flex align-items-center justify-content-center bg-light-blue">
                {% set thumbImage = rel.talentHeadshot.first() %}
                  <a href="{{ rel.url }}"><img src="{{ thumbImage.url('insightsThumb') }}" class="img-fluid m-auto"></a>
                </div>
                <div class="col-12 col-md-8 px-4 py-4 align-self-center bg-light-green">
                  <h4 class="specialist"><a href="{{ rel.url }}">{{ rel.title }}</a></h4>
                  {{rel.talentBody | chop(limit=100, unit='w', allowedTags="<p>", append='...') }}
                  <p class="pt20"><a href="{{ rel.url }}" class="add-arrow-reg">read more</a></p>
                </div>
              </div><!-- /row -->
            </div><!-- /container -->
          {% endfor %}
        {% endif %}

        <div class="container v-pad mtb40 build-border-red">
          <div class="row">
            <div class="col-12">
              <a href="{{ siteUrl }}{{ craft.request.getSegment(1) }}" class="btn button-fixed-arrow-grey float-right">Return to Industries</a>
            </div>
          </div>
        </div>


{% endblock %}{#-- /main --#}


{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
{% endblock %} {#-- /foot --#}
