{#
INDUSTRIES INDEX
/templates/industries/index.html
niceworld 7.18.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Industries' %}

{% block head %}
  {% set title = "Industries" %}
  {% set description = "Vivayic industries description" %}
  {{ parent() }}
  <script>
  // js
  </script>
{% endblock %}

{% block main %}

<div id="hero-feature" class="container-fluid no-marr build-border-blue">
  <h1>Deeply rooted experience<br class="br-sm-resp">
    across a breadth of industries</h1>
</div>

<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><a href="{{ siteUrl }}"><img src="/imgz/logo-vivayic-bug-red.svg"></a>
      <p><a href="{{ siteUrl }}{{ craft.request.getSegment(1) }}">who we help:</a></p>
      <h2>{{ pageName }}</h2>
      <div class="section-intro"><p>Vivayic draws on knowledge gained from deeply rooted experience across a wide range of industries. We understand what you’re trying to accomplish because we’ve been there (and we’ve done that). This informs a unique perspective and helps us to solve problems like a good partner should - with insight, innovation and efficiency.</p></div>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
      {% include "_partials/lets_talk" %}
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->


{% set industries = craft.entries.section('industries') %}

{% nav industry in industries %}

    {% if loop.index == 1 %}
    <div class="container mtb20 v-pad build-border-red">
      <div class="row build-border-blue">
        <div class="col-12 col-md-9">
    {% endif %}

    {% if loop.index == 6 %}
    <div class="wrap industries-office-bg build-border-red">
    <div class="container mtb20 v-pad build-border-red">
      <div class="row build-border-blue">
        <div class="col-12 col-md-9 bg-white">
    {% endif %}

    {% if loop.index == 8 %}
    <div class="container mtb20 v-pad build-border-red">
      <div class="row build-border-blue">
        <div class="col-12 col-md-9">
    {% endif %}

    {% if loop.index == 14 %}
    <div class="wrap industries-cool-window-bg build-border-red">
      <div class="container mtb20 v-pad build-border-red">
        <div class="row build-border-blue">
          <div class="col-12 col-md-9  bg-white">
    {% endif %}

    {% if loop.index == 17 %}
    <div class="container mtb20 v-pad build-border-red">
      <div class="row build-border-blue">
        <div class="col-12 col-md-9">
    {% endif %}

          {% if industry.level == 1 %}
            <h3 class="list-view">{{ industry.title }}</h3>
            {{ industry.excerpt }}
            <p class="mb20"><a href="{{ industry.url }}" class="btn button-arrow-grey">read more</a></p>
          {% else %}
              <div class="wrap-btn">
                <a href="{{industry.url}}" class="btn button-fixed-arrow-grey">{{ industry.title }}</a>
              </div>
          {% endif %}


    {% if loop.index == 5 %}
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    {% endif %}

    {% if loop.index == 7 %}
          </div><!-- /col -->
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /wrap -->
    {% endif %}

    {% if loop.index == 13 %}
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    {% endif %}

    {% if loop.index == 16 %}
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    </div><!-- /wrap -->
    {% endif %}

    {% if loop.index == 21 %}
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    {% endif %}

{% endnav %}

<div class="mtb100"></div>

{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
