{#
POSITIVE IMPACT ENTRY
/templates/positive-impact/_entry.html
niceworld 8.2.18
#}

{% extends "_layouts/site" %}

{% block head %}
  {% if entry.seoTitle|length %}{% set title = entry.seoTitle %}{% else %}{% set title = entry.title %}{% endif %}
  {% if entry.seoDescription|length %}{% set description = entry.seoDescription %}{% else %}{% set description = entry.title %}{% endif %}
  {{ parent() }}
{% endblock %}

{% block main %}

<div id="hero-page" class="container-fluid no-marr build-border-blue"></div>

<div class="container da-main-ova v-pad pb0 build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><a href="{{ siteUrl }}"><img src="/imgz/logo-vivayic-bug-red.svg"></a>
        <p><a href="{{ siteUrl }}{{ craft.request.getSegment(1) }}">positive impact stories & studies:</a></p>
      </span>
      <h2>{{ entry.title }}</h2>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
      <a href="{{ siteUrl }}contact"><img src="{{ siteUrl }}imgz/icon-lets-talk-lg.jpg" class="lets-talk sm-talk-mar"></a>
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->


{% set step = 0 %}{# this is so we can loop the bullets #}

{% for block in entry.positiveImpactMain %}

  {% if block.type == 'generalCopy' %}
  <div class="container {% if not loop.first %}loop-marr{% endif %} build-border-red">
    <div class="col-12 col-md-9 build-border-blue">
    {{ block.enterGeneralCopy }}
    </div>
  </div>
  {% endif %}


  {% if block.type == 'colorfulBullets' %}
  {% set step = step + 1 %}
  <div class="container {% if not loop.first %}loop-marr{% endif %} build-border-red">
    <div class="col-12 col-md-9 build-border-blue">
    <div class="row">
      <div class="col-2 d-flex no-padd justify-content-center build-border-yellow">
      <div class="big-bullet {% if block.bulletColor | length %}{{ block.bulletColor }}{% else %}bg-charcoal{% endif %}"><p {% if step >="10"%}class="big-bullet-two-digis"{% endif %}>{{ step }}</p></div>
      </div>
      <div class="col-10 build-border-yellow">
      {{ block.bulletCopy }}
      </div>
    </div><!--/ row -->
  </div><!--/ col -->
</div><!--/ container -->
  {% endif %}


  {% if block.type == 'bigQuote' %}
  <div class="container {% if not loop.first %}loop-marr{% endif %} build-border-red">
    <div class="col-12 col-md-9 big-quote build-border-blue">
    {{ block.enterBigQuote }}
    </div><!--/ col -->
  </div><!--/ container -->
  {% endif %}

 {% if block.type == 'copyAndBGImage' %}

 {% set blockImage = block.addImage.first() %}
 {% if blockImage | length %}
 <style>
   .the-img{{ loop.index }} {background: url({{ blockImage.url }}) center center no-repeat; background-size: cover;}}
 </style>
 {% endif %}

 <div class="wrap mtb40
 {% if block.backgroundColor|length %}{{ block.backgroundColor }}{% else %}bg-charcoal{% endif %}
 {% if blockImage|length %}the-img{{ loop.index }}{% endif %}
 {% if not loop.first %}loop-marr{% endif %} build-border-red">
   <div class="container v-pad build-border-red">
     <div class="row h-100 align-items-end">
     <div class="col-12 col-md-9 copy-quote
     {% if block.paddingTopAndBottom|length %}{{ block.paddingTopAndBottom }}{% else %}py-4{% endif %}
     {% if block.backgroundColor|length %}{{ block.backgroundColor }}{% endif %}
     {% if block.backgroundColor == "bg-light-blue" %}dark-text
     {% elseif block.backgroundColor == "bg-light-green" %}dark-text
     {% endif %} build-border-blue">
       {{ block.enterCopy | retconAttr('figure', { class: 'img-resp' }) }}
     </div>
     <div class="col-12 col-md-3 build-border-blue">
     </div>
   </div><!-- /row -->
 </div><!-- /container -->
 </div><!-- /wrap -->
 {% endif %}

{% endfor %}


<div class="container insight-credit-foot mb80 pt40 build-border-pink">
  <div class="row no-marr h-100">
    <div class="col-12 col-lg-6 build-border-blue text-center text-lg-left">

      {% set downloadStudy = entry.positiveImpactPdf.first() %}
      {% if downloadStudy | length %}
        <a href="{{ downloadStudy.url }}" class="download-study"><img src="{{ siteUrl }}imgz/icon-download-circle-arrow.svg"><h2>Download</h2></a>
        <p>Register to receive a print ready PDF<br class="resp-br">
        copy of this positive impact story.</p>
        <p><a href="{{ downloadStudy.url }}" class="btn button-arrow-grey mt20">Free!</a></p>
      {% endif %}

    </div>
    <div class="col-12 col-lg-6 pt-4 pt-lg-0 build-border-blue">
      <a href="{{ siteUrl }}positive-impact" class="btn button-fixed-arrow-grey mx-auto">Return to Positive<br>Impact Stories</a>
    </div>
  </div><!-- /row -->
</div><!-- /container -->


{% include "_partials/you_might_like_share_pos" %}

{% endblock %}{#-- /main --#}


{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
{% endblock %} {#-- /foot --#}
