{#
POSITIVE IMPACT INDEX
/templates/positive-impact/index.html
niceworld 7.18.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Positive Impact' %}

{% block head %}
  {% set title = "Positive Impact Stories" %}
  {{ parent() }}
  <script>
  // js
  </script>
{% endblock %}

{% block main %}

<div id="hero-feature" class="container-fluid no-marr build-border-blue">
  <h1>Results of our efforts<br class="resp-br">
to build the capacity<br class="resp-br">
of our clients</h1>
</div>

<div class="container da-main-ova pb40 v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><img src="/imgz/logo-vivayic-bug-red.svg"><p>what we do:</p></span>
      <h2>{{pageName}}</h2>
      <p>Vivayic offers solutions which strike a balance between solid research and lived experience. We offer learner centered programs based on great ideas and solid fundamentals. Our goal is to drive through completion on time, on budget and most importantly with a positive impact on the learner and on the organization’s stated objectives.</p>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
      {% include "_partials/lets_talk" %}
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->


{% for positiveEntry in craft.entries.section('positiveImpact').limit(10) %}

<div class="container mb40 v-pad build-border-red">
  <div class="row h-100">
    <div class="col-12 col-md-4 no-padd bg-light-blue">
      {% set positiveThum = positiveEntry.positiveImpactThumb.first() %}
      <div class="d-flex h-100 align-items-center">
        <a href="{{ positiveEntry.url }}"><img src="{{ positiveThum.url('positiveImpactThumb') }}" class="img-fluid" alt="{{ positiveThum.title }}"></a>
      </div>
    </div>
    <div class="col-12 col-md-8 px-4 py-4 bg-light-green">
          <h4><a href="{{ positiveEntry.url }}">{{ positiveEntry.title }}</a></h4>
          <div class="excerpt">{{ positiveEntry.excerpt }}</div>
          <p class="pt20"><a href="{{ positiveEntry.url }}" class="add-arrow-reg">read more</a></p>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
{% endfor %}




{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
