{#
PROCESS INDEX
/templates/process/index.html
niceworld 9.12.18
#}

{% extends "_layouts/site" %}

{% set pageName = 'Process' %}

{% block head %}
  {% set title = "Process" %}
  {{ parent() }}
  <script>
  // js
  </script>
{% endblock %}

{% block main %}

<div id="hero-feature" class="process-ill text-center container-fluid no-marr build-border-blue">
  <div class="container no-padd build-border-red">
    <div class="col-12">
      <img src="{{ siteUrl }}imgz/180913-learning-solutions-model.svg" class="img-resp d-xs-none d-md-block">
    </div>
  </div>
</div>

<div class="scroll-magi build-border-dashed"><!-- scroll-magi -->
<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><img src="/imgz/logo-vivayic-bug-red.svg"><p>what we do:</p></span>
      <h2>{{ pageName }}</h2>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->


<div class="wrap bg-pale-grey">
  <div class="container process-top v-pad pb60 build-border-red">
    <div class="row">
      <div class="col-12">
        <div class="section-intro"><p>We employ a tested methodology to design solutions that meet business needs in a learner-centric manner.
        Our proven project management approach to design and, ultimately, deliver an innovative solution. </p></div>
      </div><!-- /col -->
    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /wrap -->



<div class="wrap bg-light-blue">
<div class="container v-pad ptb60 build-border-red">
  <div class="row">
      <div class="col-12"><h1 class="mb10">Clarity</h1>
        <div class="section-intro"><p>Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p></div>
      </div>
  </div>
  <div class="row process-stuff">
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-BusinessNeed+LearningStrategy.png" class="img-resp">
      <p>Business Need & Learning Strategy</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-LearnerCenteredDesignResearch.png" class="img-resp">
      <p>Learner Centered Design Research</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-SolutionArchitecture.png" class="img-resp">
      <p>Solution Architecture</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-ROIModelEvaluationPlan.png" class="img-resp">
      <p>ROI Model and Evaluation Plan</p>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
</div><!-- /wrap -->

<div class="wrap bg-light-purple text-center">
  <div class="row no-marr">
    <div class="col-12">
      <img src="{{ siteUrl }}imgz/break-triangle-blue.svg" class="img-resp">
    </div>
  </div>
</div>

<div class="wrap bg-light-purple">
<div class="container v-pad-45 ptb60 build-border-red">
  <div class="row">
      <div class="col-12"><h1 class="mb10">Built Experience</h1>
        <div class="section-intro"><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. </p></div>
      </div>
  </div>
  <div class="row process-stuff">
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-LearningExperienceDesign.png" class="img-resp">
      <p>Learning Experience Design</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-ProgramIdentity.png" class="img-resp">
      <p>Program Identity</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-PilotAndImprove.png" class="img-resp">
      <p>Pilot and Improve</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-Prototype.png" class="img-resp">
      <p>Prototype</p>
    </div>

  </div><!-- /row -->
</div><!-- /container -->
</div><!-- /wrap -->

<div class="wrap bg-cornflower text-center">
  <div class="row no-marr">
    <div class="col-12">
      <img src="{{ siteUrl }}imgz/break-triangle-purple.svg" class="img-resp">
    </div>
  </div>
</div>

<div class="wrap bg-cornflower">
<div class="container v-pad-45 ptb60 build-border-red">
  <div class="row">
      <div class="col-12"><h1 class="mb10">Utility</h1>
        <div class="section-intro"><p>Donec id elit non mi porta gravida at eget metus.</p></div>
      </div>
  </div>
  <div class="row process-stuff">
    <div class="col-4 offset-3 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-EvaluationSupport.png" class="img-resp">
      <p>Evaluation Support</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-ImplementationSupport.png" class="img-resp">
      <p>Implementation Support</p>
    </div>

    </div><!-- /row -->
</div><!-- /container -->
</div><!-- /wrap -->

<div class="wrap bg-pale-grey text-center">
  <div class="row no-marr">
    <div class="col-12">
      <img src="{{ siteUrl }}imgz/break-triangle-yellow.svg" class="img-resp">
    </div>
  </div>
</div>

<div class="wrap bg-pale-grey">
<div class="container v-pad-45 ptb60 build-border-red">
  <div class="row">
      <div class="col-12"><h1 class="mb10">Global</h1>
        <div class="section-intro"><p>Donec id elit non mi porta gravida at eget metus.</p></div>
      </div>
  </div>
  <div class="row process-stuff">
    <div class="col-4 col-sm-3 offset-3 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-LearningInitiativeProjectManagement.png" class="img-resp">
      <p>Learning Initiative Project Management</p>
    </div>
    <div class="col-4 col-sm-3">
      <img src="{{ siteUrl }}/imgz/180924-learning-sol-AccountStewardshipStrategy.png" class="img-resp">
      <p>Account Stewardship Strategy</p>
    </div>
    </div><!-- /row -->
</div><!-- /container -->
</div><!-- /wrap -->















</div><!-- /container -->


{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
