{#
SOLUTIONS INDEX
/templates/solutions/index.html
niceworld 7.18.18
#}

{% extends "_layouts/site" %}

{% block head %}
  {% set title = "Solutions" %}
  {% set description = "Vivayic offers solutions which strike a balance between solid research and lived experience. We offer learner centered programs based on great ideas and solid fundamentals." %}
  {% set canon_url = siteUrl ~"solutions" %}
  {% set og_img = siteUrl ~"imgz/social-share-default.jpg" %}
  {{ parent() }}
  {% include '_partials/scrollface' %}
{% endblock %}

{% block main %}

<div id="hero-feature-scrolly" class="container-fluid no-marr no-padd build-border-blue">
  <div class="bcg"></div>
    <div class="hero-copy">
      <h1>Solutions that balance<br class="br-sm-resp">
      solid research and<br class="br-sm-resp">
      lived experience</h1>
    </div>
</div>

<div class="scroll-magi build-border-dashed"><!-- scroll-magi -->
<div class="container da-main-ova v-pad build-border-red">
  <div class="row no-padd build-border-yellow ">
    <div class="col-12 col-lg-9">
      <span class="breadcrumbs"><img src="{{ siteUrl }}/imgz/logo-vivayic-bug-red.svg"><p>what we do:</p></span>
      <h2>Solutions</h2>
      <div class="section-intro"><p>Vivayic offers solutions that strike a balance between solid research and lived experience. We offer learner-centered programs based on great ideas and solid fundamentals. Our goal is to drive through completion on time, on budget, and, most importantly, with a positive impact on the learner and on the organization’s stated objectives.</p></div>
    </div><!-- /col -->
    <div class="col-12 col-lg-3 px-0 px-md-2 text-center">
      {% include "_partials/lets_talk" %}
    </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /da-main-ova -->


<div class="wrap solutions-whiteboard-bg build-border-red">
  <div class="container v-pad mb80 build-border-red">
    <div class="row build-border-blue">
      <div class="col-12 col-lg-9 outline-15 mr-auto bg-white build-border-green">
        <h2 class="mb30 mt20">Consulting Services</h2>

        {% for block in entry.solutionsConsultingServices  %}

              {{ block.enterTitleAndDescription }}

              {% set relatedPositiveImpactStory = block.positiveImpactStory.all() %}
              {% if relatedPositiveImpactStory|length %}
                <div class="wrap-btn-bar">
                {% for positiveEntry in relatedPositiveImpactStory %}
                  <a href="{{ positiveEntry.url }}" class="btn button-icon-impact-arrow-360">{{ positiveEntry.title }}</a>
                {% endfor %}
                </div>
              {% endif %}
              <div class="mb20"></div>

        {% endfor %}

      </div>
    </div>
  </div>
</div><!-- /wrap -->

<div class="container v-pad mb80 build-border-red">
  <div class="row build-border-blue">
    <div class="col-12 col-lg-9 outline-15 mr-auto bg-white build-border-green">
      <h2 class="mb30">Program Design</h2>

      {% for block in entry.solutionsProgramDesign  %}

            {{ block.enterTitleAndDescription }}

            {% set relatedPositiveImpactStory = block.positiveImpactStory.all() %}
            {% if relatedPositiveImpactStory|length %}
              <div class="wrap-btn-bar">
              {% for positiveEntry in relatedPositiveImpactStory %}
                <a href="{{ positiveEntry.url }}" class="btn button-icon-impact-arrow-360">{{ positiveEntry.title }}</a>
              {% endfor %}
              </div>
            {% endif %}
            <div class="mb20"></div>

      {% endfor %}

    </div>
  </div>
</div><!-- /container -->


<div class="wrap solutions-hand-whiteboard-cu-bg build-border-red">
  <div class="container v-pad mb80 build-border-red">
    <div class="row build-border-blue">
      <div class="col-12 col-lg-9 outline-15 mr-auto bg-white build-border-green">
        <h2 class="mb30 mt20">Experience Design</h2>

        {% for block in entry.solutionsExperienceDesign  %}

              {{ block.enterTitleAndDescription }}

              {% set relatedPositiveImpactStory = block.positiveImpactStory.all() %}
              {% if relatedPositiveImpactStory|length %}
                <div class="wrap-btn-bar">
                {% for positiveEntry in relatedPositiveImpactStory %}
                  <a href="{{ positiveEntry.url }}" class="btn button-icon-impact-arrow-360">{{ positiveEntry.title }}</a>
                {% endfor %}
                </div>
              {% endif %}
              <div class="mb20"></div>

        {% endfor %}

      </div>
    </div>
  </div>
</div><!-- /wrap -->


<div class="container v-pad build-border-red">
  <div class="row build-border-blue">
    <div class="col-12 col-lg-9 outline-15 mr-auto bg-white build-border-green">
      <h2 class="mb30">K-12, College, and Workforce</h2>

      {% for block in entry.solutionsK12CollegeAndWorkforce  %}

            {{ block.enterTitleAndDescription }}

            {% set relatedPositiveImpactStory = block.positiveImpactStory.all() %}
            {% if relatedPositiveImpactStory|length %}
              <div class="wrap-btn-bar">
              {% for positiveEntry in relatedPositiveImpactStory %}
                <a href="{{ positiveEntry.url }}" class="btn button-icon-impact-arrow-360">{{ positiveEntry.title }}</a>
              {% endfor %}
              </div>
            {% endif %}
            <div class="mb20"></div>

      {% endfor %}

    </div>
  </div>
</div><!-- /container -->

<div class="mb80"></div>



{% endblock %}{#-- /main --#}

{% block foot %}
  {% include "_partials/footer_get_results" %}
  {{ parent() }}
  {% include '_partials/edit-this' %}
{% endblock %} {#-- /foot --#}
